@-webkit-keyframes SiteFamilyArrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes SiteFamilyArrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes MainHeaderClip {
  0% {
    transform: translateY(102%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes MainHeaderClip {
  0% {
    transform: translateY(102%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes MainHeaderText {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes MainHeaderText {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
#wrap #header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 25px 0;
  background-color: #fff;
  transition: transform 0.3s;
  z-index: 1000;
  padding: 1.3889vw 0;
}
#wrap #header .header_container .header_info {
  position: relative;
}
#wrap #header .header_container .header_info #logo {
  margin: 0 auto;
  width: 90px;
}
#wrap #header .header_container .header_info #logo .logo-link {
  width: 90px;
  height: 76px;
  background-image: url("../../sources/logo/logo.svg");
  background-size: 90px 76px;
}
#wrap #header .header_container .header_info .menuBtn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}
#wrap #header .header_container .header_info .menuBtn .menuBtn-menu {
  width: 35px;
  height: 11px;
  background-image: url("../../sources/icon/ico_nav_open.svg");
  background-size: 35px 11px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#wrap #header .header_container .header_info .menuBtn .menuBtn-menu::after {
  content: "Menu";
  color: #000;
  position: absolute;
  top: 50%;
  right: -67px;
  transform: translateY(-50%);
  line-height: 1.4em;
  font-weight: bold;
  margin-top: 1px;
  font-size: 22px;
}
#wrap #header .header_container .header_info .menuBtn .menuBtn-close {
  width: 36px;
  height: 36px;
  background-image: url("../../sources/icon/ico_nav_close.svg");
  background-size: 36px 36px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(0);
  opacity: 0;
  visibility: hidden;
}
#wrap #header .header_container .header_info .siteFamily {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 178px;
  z-index: 5;
}
#wrap #header .header_container .header_info .siteFamily .siteFamily-text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  position: relative;
  padding: 12px 30px 12px 0;
}
#wrap #header .header_container .header_info .siteFamily .siteFamily-text::after {
  content: "";
  width: 8px;
  height: 8px;
  background-image: url("../../sources/icon/ico_family-arrow.svg");
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#wrap #header .header_container .header_info .siteFamily .siteFamily-text .siteFamily-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  -webkit-animation: SiteFamilyArrow 1s ease-in forwards;
          animation: SiteFamilyArrow 1s ease-in forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
#wrap #header .header_container .header_info .siteFamily .siteFamily-text .siteFamily-bar::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  display: block;
}
#wrap #header .header_container .header_info .siteFamily .siteFamilySelect {
  display: none;
  position: absolute;
  margin-top: 15px;
  padding: 20px 17px;
  background-color: #fff;
  left: 0;
  right: 0;
  border: 2px solid #000;
}
#wrap #header .header_container .header_info .siteFamily .siteFamilySelect .siteFamilySelect-item {
  margin-top: 11px;
}
#wrap #header .header_container .header_info .siteFamily .siteFamilySelect .siteFamilySelect-item:first-child {
  margin-top: 0;
}
#wrap #header .header_container .header_info .siteFamily .siteFamilySelect .siteFamilySelect-item .siteFamilySelect-link {
  font-size: 15px;
  line-height: 1.4em;
  display: block;
  font-weight: 500;
}
#wrap #siteHeaderMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
#wrap #siteHeaderMenu .header_container::after {
  content: "";
  display: table;
  clear: both;
}
#wrap #siteHeaderMenu .siteHeaderMenu-scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 200px;
  padding-bottom: 100px;
}
#wrap #siteHeaderMenu .siteHeaderMenu-scroll .siteHeaderMenu-title {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: bold;
  margin-bottom: 35px;
}
#wrap #siteHeaderMenu .siteHeaderMenu-scroll .menu-wrapper > .menu_item {
  margin-top: 45px;
  position: relative;
}
#wrap #siteHeaderMenu .siteHeaderMenu-scroll .menu-wrapper > .menu_item:first-child {
  margin-top: 0;
}
#wrap #siteHeaderMenu .siteHeaderMenu-scroll .menu-wrapper > .menu_item a {
  display: inline-block;
  font-size: 55px;
  line-height: 1.1em;
  font-weight: bold;
  max-width: 50%;
}
#wrap #siteHeaderMenu .siteHeaderMenu-scroll .menu-wrapper > .menu_item .submenu {
  position: absolute;
  top: 0;
  left: 40%;
  right: 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
}
#wrap #siteHeaderMenu .siteHeaderMenu-scroll .menu-wrapper > .menu_item .submenu .submenu_item {
  margin-top: 10px;
}
#wrap #siteHeaderMenu .siteHeaderMenu-scroll .menu-wrapper > .menu_item .submenu .submenu_item:first-child {
  margin-top: 0;
}
#wrap #siteHeaderMenu .siteHeaderMenu-scroll .menu-wrapper > .menu_item .submenu .submenu_item a {
  display: flex;
  width: 100%;
  font-size: 40px;
  line-height: 1.4em;
  font-weight: bold;
}
#wrap #siteContent .mainInfo {
  margin-bottom: 80px;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow {
  display: table;
  width: 100%;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainSecRow-cell {
  display: table-cell;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainSecRow-cell:first-child {
  vertical-align: top;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainSecRow-cell:last-child {
  vertical-align: bottom;
  width: 1%;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainSecRow-cell .mainHeader-Clip {
  display: block;
  overflow: hidden;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainSecRow-cell .mainHeader-Clip .mainHeader-ClipText {
  line-height: 0;
  display: block;
  -webkit-animation: MainHeaderClip 0.8s forwards;
          animation: MainHeaderClip 0.8s forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  transform: translateY(102%);
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainSecRow-cell .mainHeader-Clip .mainHeader-ClipText .mainHeader-img {
  width: 600px;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainSecRow-cell .mainSecRow-text {
  margin-top: 50px;
  font-size: 24px;
  line-height: 1.6em;
  font-weight: 500;
  -webkit-animation: MainHeaderText 0.8s forwards;
          animation: MainHeaderText 0.8s forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  opacity: 0;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn {
  width: 230px;
  float: right;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn .AnimeBtn {
  display: block;
  position: relative;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn .AnimeBtn::before {
  height: 0%;
  content: "";
  width: 2px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: height 0.8s;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn .AnimeBtn::after {
  content: "";
  width: 2px;
  height: 0;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: height 0.8s;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn .AnimeBtn .AnimeBtn-text {
  font-size: 1.04166vw;
  line-height: 1.2em;
  color: #000;
  font-weight: bold;
  white-space: nowrap;
  padding: 24px 37px;
  text-align: center;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn .AnimeBtn .AnimeBtn-text::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.8s;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn .AnimeBtn .AnimeBtn-text::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width 0.8s;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn .is-AniBtn.AnimeBtn::after, #wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn .is-AniBtn.AnimeBtn::before {
  height: 100%;
}
#wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn .is-AniBtn .AnimeBtn-text::before, #wrap #siteContent .mainInfo .site-container .mainSecRow .mainHeader-btn .is-AniBtn .AnimeBtn-text::after {
  width: 100%;
}
#wrap #siteContent .mainBanner {
  height: 730px;
  position: relative;
  overflow: hidden;
  margin-bottom: 140px;
}
#wrap #siteContent .mainBanner .mainBannerBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 0;
}
#wrap #siteContent .mainBanner .mainBannerBg .mainBannerSectionBg-img {
  display: block;
  position: absolute;
  top: -35%;
  left: 0;
  right: 0;
  height: 135%;
  background-image: url("../../sources/main/main_banner_bg-min.png");
  background-size: cover;
  background-position: center center;
}
#wrap #siteContent .mainBanner .mainBannerText {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 5;
}
#wrap #siteContent .mainBanner .mainBannerText .mainBannerText-title {
  text-align: center;
  font-size: 112px;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */