@keyframes SiteFamilyArrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes MainHeaderClip {
  0% {
    transform: translateY(102%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes MainHeaderText {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

#wrap {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 25px 0;
    background-color: #fff;
    transition: transform 0.3s;
    z-index: 1000;
    padding: 1.3889vw 0;

    .header_container {
      .header_info {
        position: relative;
        #logo {
          margin: 0 auto;
          width: 90px;
          .logo-link {
            width: 90px;
            height: 76px;
            background-image: url("../../sources/logo/logo.svg");
            background-size: 90px 76px;
          }
        }
        .menuBtn {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          .menuBtn-menu {
            width: 35px;
            height: 11px;
            background-image: url("../../sources/icon/ico_nav_open.svg");
            background-size: 35px 11px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            &::after {
              content: "Menu";
              color: #000;
              position: absolute;
              top: 50%;
              right: -67px;
              transform: translateY(-50%);
              line-height: 1.4em;
              font-weight: bold;
              margin-top: 1px;
              font-size: 22px;
            }
          }
          .menuBtn-close {
            width: 36px;
            height: 36px;
            background-image: url("../../sources/icon/ico_nav_close.svg");
            background-size: 36px 36px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%) scale(0);
            opacity: 0;
            visibility: hidden;
          }
        }
        .siteFamily {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 178px;
          z-index: 5;
          .siteFamily-text {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 16px;
            line-height: 1.4em;
            color: #000;
            font-weight: bold;
            position: relative;
            padding: 12px 30px 12px 0;
            &::after {
              content: "";
              width: 8px;
              height: 8px;
              background-image: url("../../sources/icon/ico_family-arrow.svg");
              background-size: cover;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
            .siteFamily-bar {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              overflow: hidden;
              animation: SiteFamilyArrow 1s ease-in forwards;
              animation-delay: 0.2s;
              &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: #000;
                display: block;
              }
            }
          }
          .siteFamilySelect {
            display: none;
            position: absolute;
            margin-top: 15px;
            padding: 20px 17px;
            background-color: #fff;
            left: 0;
            right: 0;
            border: 2px solid #000;
            .siteFamilySelect-item {
              &:first-child {
                margin-top: 0;
              }
              margin-top: 11px;
              .siteFamilySelect-link {
                font-size: 15px;
                line-height: 1.4em;
                display: block;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }

  #siteHeaderMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    .header_container::after {
      content: "";
      display: table;
      clear: both;
    }
    .siteHeaderMenu-scroll {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      padding-top: 200px;
      padding-bottom: 100px;
      .siteHeaderMenu-title {
        font-size: 30px;
        line-height: 1.2em;
        font-weight: bold;
        margin-bottom: 35px;
      }
      .menu-wrapper > .menu_item {
        &:first-child {
          margin-top: 0;
        }
        margin-top: 45px;
        position: relative;
        a {
          display: inline-block;
          font-size: 55px;
          line-height: 1.1em;
          font-weight: bold;
          max-width: 50%;
        }
        .submenu {
          position: absolute;
          top: 0;
          left: 40%;
          right: 0;
          z-index: 5;
          visibility: hidden;
          opacity: 0;
          .submenu_item {
            &:first-child {
              margin-top: 0;
            }
            margin-top: 10px;
            a {
              display: flex;
              width: 100%;
              font-size: 40px;
              line-height: 1.4em;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  #siteContent {
    .mainInfo {
      margin-bottom: 80px;
      .site-container {
        .mainSecRow {
          display: table;
          width: 100%;
          .mainSecRow-cell {
            display: table-cell;
            &:first-child {
              vertical-align: top;
            }
            &:last-child {
              vertical-align: bottom;
              width: 1%;
            }

            .mainHeader-Clip {
              display: block;
              overflow: hidden;
              .mainHeader-ClipText {
                line-height: 0;
                display: block;
                animation: MainHeaderClip 0.8s forwards;
                animation-delay: 0.2s;
                transform: translateY(102%);
                .mainHeader-img {
                  width: 600px;
                }
              }
            }
            .mainSecRow-text {
              margin-top: 50px;
              font-size: 24px;
              line-height: 1.6em;
              font-weight: 500;
              animation: MainHeaderText 0.8s forwards;
              animation-delay: 0.2s;
              opacity: 0;
            }
          }
          .mainHeader-btn {
            width: calc(226px + 4px);
            float: right;

            .AnimeBtn {
              display: block;
              position: relative;
              &::before {
                height: 0%;
                content: "";
                width: 2px;
                background-color: #000;
                position: absolute;
                top: 0;
                left: 0;
                transition: height 0.8s;
              }
              &::after {
                content: "";
                width: 2px;
                height: 0;
                background-color: #000;
                position: absolute;
                bottom: 0;
                right: 0;
                transition: height 0.8s;
              }
              .AnimeBtn-text {
                font-size: 1.04166vw;
                line-height: 1.2em;
                color: #000;
                font-weight: bold;
                white-space: nowrap;
                padding: calc(22px + 2px) calc(35px + 2px);
                text-align: center;
                &::before {
                  content: "";
                  width: 0%;
                  height: 2px;
                  background-color: #000;
                  position: absolute;
                  top: 0;
                  left: 0;
                  transition: width 0.8s;
                }
                &::after {
                  content: "";
                  width: 0%;
                  height: 2px;
                  background-color: #000;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  transition: width 0.8s;
                }
              }
            }
            .is-AniBtn.AnimeBtn {
              &::after,
              &::before {
                height: 100%;
              }
            }
            .is-AniBtn .AnimeBtn-text {
              &::before,
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .mainBanner {
      height: 730px;
      position: relative;
      overflow: hidden;
      margin-bottom: 140px;
      .mainBannerBg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        line-height: 0;
        .mainBannerSectionBg-img {
          display: block;
          position: absolute;
          top: -35%;
          left: 0;
          right: 0;
          height: 135%;
          background-image: url("../../sources/main/main_banner_bg-min.png");
          background-size: cover;
          background-position: center center;
        }
      }
      .mainBannerText {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        z-index: 5;
        .mainBannerText-title {
          text-align: center;
          font-size: 112px;
          line-height: 1.2em;
          color: #fff;
          text-shadow: 2px 2px 12px rgb(0 0 0 / 20%);
          font-weight: bold;
        }
      }
    }
  }
}
