.pageHeaderTitle {
  text-align: center;
  margin-bottom: 85px;
  .pageHeaderTitle-parent {
    font-size: 36px;
    line-height: 1.2em;
    margin-bottom: 18px;
    font-weight: bold;
  }
  .pageHeaderTitle-title {
    font-size: 70px;
    line-height: 1.1em;
    color: #000;
    font-weight: bold;
  }
}

.siteCont {
  .onlyBanner {
    margin-bottom: 100px;
    position: relative;
    height: 480px;
    .onlyBannerBg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 100vw;
      overflow: hidden;
      .onlyBannerBg-img {
        display: block;
        position: absolute;
        top: 0%;
        left: 0;
        right: 0;
        height: 150%;
        background-size: cover;
        background-position: center centers;
      }
    }
  }
  .bgTitleLogo {
    text-align: right;
    font-size: 0;
    line-height: 0;
    height: 205px;
    position: relative;
    margin-bottom: 110px;
    .bgTitleLogo-inner {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100%;
      overflow: hidden;
    }
    .bgTitleLogo-img {
      display: block;
      float: right;
      width: 1260px;
    }
  }
  .brandHeader {
    margin-bottom: 110px;
    .brandHeader-title {
      font-size: 60px;
      line-height: 1.4em;
      color: #000;
      font-weight: bold;
      margin-bottom: 68px;
    }
    .brandHeader-sub {
      font-size: 40px;
      line-height: 1.4em;
      color: #000;
      font-weight: bold;
      margin-bottom: 28px;
    }
    .brandHeader-text {
      font-size: 24px;
      line-height: 1.6em;
      color: #000;
    }
  }
  .brandLogoPost {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .brandLogoPostThumb {
    display: table-cell;
    vertical-align: top;
    line-height: 0;
    width: 786px;
  }
  .brandLogoPostCont {
    display: table-cell;
    vertical-align: middle;
    padding-left: 60px;
    .brandLogoPostCont-title {
      font-size: 40px;
      line-height: 1.4em;
      color: #000;
      font-weight: bold;
    }
    .brandLogoPostCont-text {
      margin-top: 30px;
      font-size: 20px;
      line-height: 1.7em;
    }
  }
}

.a-OpacityTop {
  transform: translateY(50px);
  opacity: 0;
  transition: transform, opacity, 0.8s;
}

.a-OpacityTop.is-OpacityTop {
  transform: translateY(0);
  opacity: 1;
}

.newsPost {
  margin-top: 65px;
  .newsPost-item {
    border-top: 1px solid #e0e0e0;
    &:first-child {
      border-top: none;
    }
    .newsPost-noPost {
      text-align: center;
      font-size: 32px;
      line-height: 1.4em;
      color: #000;
      font-weight: 500;
      padding: 40px 0;
    }
  }
}
.listPaging {
  margin-top: 100px;
  text-align: center;
  .listPaging-list {
    display: inline-block;
    margin: 0 -20px;
    .listPaging-item {
      display: inline-block;
      padding: 0 20px;
      &:first-child {
        padding: 0;
        padding-right: 70px;
        .listPrevButton-link {
          display: block;
          position: relative;
          padding-left: 40px;
          color: #000;
          font-size: 20px;
          font-family: "Pretendard";
          font-weight: 500;
          line-height: 1.4em;
          &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-image: url("../../sources/download/ico-SinglePagingPrev-b.svg");
            background-size: 30px 30px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }
      }
      &:last-child {
        padding: 0;
        padding-left: 70px;
        .listNextButton-link {
          display: block;
          position: relative;
          padding-right: 40px;
          color: #000;
          font-size: 20px;
          font-family: "Pretendard";
          font-weight: 500;
          line-height: 1.4em;
          &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-image: url("../../sources/download/ico-SinglePagingNext-b.svg");
            background-size: 30px 30px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
      .listPaging-text {
        display: block;
        position: relative;
        color: #000;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4em;
      }
    }
    .listPaging-item.is-Current {
      .listPaging-text {
        color: #fff;
        &::after {
          content: "";
          display: block;
          width: 30px;
          height: 30px;
          background-color: #000;
          border-radius: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
        }
      }
    }
  }
}

.pageTopBanner {
  height: 430px;
  position: relative;
  margin-bottom: 100px;
  .pageTopBannerBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 0;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }
    .pageTopBannerBg-img {
      display: block;
      position: absolute;
      top: 0%;
      left: 0;
      right: 0;
      height: 150%;
      background-size: cover;
      background-position: center center;
    }
  }
  .pageTopBannerText {
    position: absolute;
    bottom: 80px;
    left: 80px;
    width: 70%;
    z-index: 5;
    .pageTopBannerText-title {
      font-size: 60px;
      line-height: 1.2em;
      color: #fff;
      font-weight: bold;
    }
    .pageTopBannerText-text {
      font-size: 24px;
      line-height: 1.5em;
      color: #fff;
      font-weight: 500;
      margin-top: 25px;
    }
  }
}
.pageTable-tbl {
  width: 100%;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  th,
  td {
    vertical-align: middle;
    text-align: center;
  }
  thead th {
    border-bottom: solid 3px #000000;
    border-left: solid 1px #000;
    font-size: 23px;
    line-height: 1.4em;
    color: #000;
    font-weight: bold;
    padding: 21px 10px;
    &:first-child {
      border-left: none;
    }
  }
  tbody tr {
    &:first-child {
      border-top: none;
    }
  }
  tbody th,
  tbody td {
    font-size: 20px;
    line-height: 1.4em;
    color: #000;
    padding: 21px 10px;
    font-weight: normal;
    border-top: 1px solid #000;
  }
  tbody td {
    border-left: 1px solid #000;
  }
}

.smallSection {
  max-width: 778px;
  margin: 0 auto;
  .organization {
    margin-bottom: 110px;
    .organization-item.Depth1 {
      padding-bottom: 74px;
      position: relative;
      text-align: center;
      overflow: hidden;
    }
    .organizationDepth1-title {
      display: inline-block;
      font-size: 28px;
      line-height: 1.4em;
      color: #fff;
      font-weight: bold;
      text-align: center;
      width: 360px;
      padding: 20px 20px;
      background-color: #000;
      position: relative;
      &::after {
        content: "";
        width: 1px;
        height: 100px;
        border-left: 1px dashed #000;
        position: absolute;
        bottom: -100px;
        left: 50%;
      }
    }
    .organization-row {
      overflow: hidden;
      padding-top: 55px;
      margin: 0 -39px;
      .organization-item {
        float: left;
        padding: 0 39px;
      }
    }
    .col-50 .organization-item {
      width: 50%;
    }
    .organizationDepth2-title {
      display: block;
      font-size: 24px;
      line-height: 1.4em;
      color: #000;
      font-weight: bold;
      text-align: center;
      padding: 18px 20px;
      border: solid 1px #000;
      position: relative;
      &::before {
        content: "";
        width: calc(100% + 80px);
        height: 1px;
        border-top: dashed 1px #000000;
        position: absolute;
        top: -55px;
        left: 50%;
        transform: translateX(-50%);
      }
      &::after {
        content: "";
        width: 1px;
        height: 100px;
        border-left: dashed 1px #000;
        position: absolute;
        top: -100px;
        left: 50%;
      }
    }
    .organization-item:first-child .organizationDepth2-title::before {
      width: calc(50% + 40px);
      transform: translateX(0%);
    }
    .organization-item:last-child .organizationDepth2-title::before {
      width: calc(50% + 40px);
      left: auto;
      right: 50%;
      transform: translateX(0%);
    }
    .organizationDepth2-sub {
      margin-top: 48px;
      font-size: 20px;
      line-height: 1.4em;
      color: #000;
      font-weight: bold;
    }
    .organization-list {
      margin-top: 13px;
      .organization-text {
        position: relative;
        font-size: 20px;
        line-height: 1.5em;
        color: #000;
        padding-left: 13px;
        margin-top: 18px;
        &:first-child {
          margin-top: 0;
        }
        &::before {
          content: "";
          width: 2px;
          height: 2px;
          position: absolute;
          top: 12px;
          left: 0;
          background-color: #000;
        }
      }
    }
  }
  .imgBox {
    line-height: 0;
    text-align: center;
    .supply-img {
      display: block;
      margin: 0 auto;
      width: 432px;
    }
  }
}
