@charset "UTF-8";
.pageHeaderTitle {
  text-align: center;
  margin-bottom: 85px;
}
.pageHeaderTitle .pageHeaderTitle-parent {
  font-size: 36px;
  line-height: 1.2em;
  margin-bottom: 18px;
  font-weight: bold;
}
.pageHeaderTitle .pageHeaderTitle-title {
  font-size: 70px;
  line-height: 1.1em;
  color: #000;
  font-weight: bold;
}

.siteCont .onlyBanner {
  margin-bottom: 100px;
  position: relative;
  height: 480px;
}
.siteCont .onlyBanner .onlyBannerBg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  overflow: hidden;
}
.siteCont .onlyBanner .onlyBannerBg .onlyBannerBg-img {
  display: block;
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  height: 150%;
  background-size: cover;
  background-position: center centers;
}
.siteCont .bgTitleLogo {
  text-align: right;
  font-size: 0;
  line-height: 0;
  height: 205px;
  position: relative;
  margin-bottom: 110px;
}
.siteCont .bgTitleLogo .bgTitleLogo-inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.siteCont .bgTitleLogo .bgTitleLogo-img {
  display: block;
  float: right;
  width: 1260px;
}
.siteCont .brandHeader {
  margin-bottom: 110px;
}
.siteCont .brandHeader .brandHeader-title {
  font-size: 60px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  margin-bottom: 68px;
}
.siteCont .brandHeader .brandHeader-sub {
  font-size: 40px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  margin-bottom: 28px;
}
.siteCont .brandHeader .brandHeader-text {
  font-size: 24px;
  line-height: 1.6em;
  color: #000;
}
.siteCont .brandLogoPost {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.siteCont .brandLogoPostThumb {
  display: table-cell;
  vertical-align: top;
  line-height: 0;
  width: 786px;
}
.siteCont .brandLogoPostCont {
  display: table-cell;
  vertical-align: middle;
  padding-left: 60px;
}
.siteCont .brandLogoPostCont .brandLogoPostCont-title {
  font-size: 40px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
}
.siteCont .brandLogoPostCont .brandLogoPostCont-text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.7em;
}

.categoryTab .categoryTab-select {
  display: block;
  border: solid 2px #000;
  padding: 3.5vw 12vw 3vw 5vw;
  font-size: 4.9vw;
  font-weight: 500;
  line-height: 1.4em;
  color: #000;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;
}
.categoryTab .categoryTab-select::after {
  content: "";
  width: 3vw;
  height: 4vw;
  background-image: url("../../sources/about/about-us/ico_family-arrow.svg");
  background-size: 3vw 4vw;
  position: absolute;
  top: 50%;
  right: 5vw;
  transform: translateY(-50%);
  margin-top: -0.1vw;
}

.aboutImgLogo {
  line-height: 0;
  text-align: center;
  margin-bottom: 32px;
}
.aboutImgLogo .aboutImgLogo-img {
  display: block;
  margin: 0 auto;
  width: 541px;
}

.aboutBigTitle {
  text-align: center;
  font-size: 60px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  margin-bottom: 240px;
}

.aboutBanner {
  position: relative;
  height: 640px;
}
.aboutBanner .aboutBannerBg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 101vw;
  height: 100%;
  overflow: hidden;
}
.aboutBanner .aboutBannerBg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.8;
}
.aboutBanner .aboutBannerBg .aboutBannerBg-img {
  display: block;
  position: absolute;
  top: -40%;
  left: 0;
  right: 0;
  height: 150%;
  background-image: url("../../sources/about/about-banner-min.png");
  background-size: cover;
  background-position: center center;
}
.aboutBanner .aboutBannerText {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  z-index: 5;
}
.aboutBanner .aboutBannerText .aboutBannerText-title {
  font-size: 60px;
  line-height: 1.4em;
  color: #fff;
  font-weight: bold;
}
.aboutBanner .aboutBannerText .aboutBannerText-text {
  font-size: 24px;
  line-height: 1.6em;
  color: #fff;
  font-weight: 500;
  margin-top: 28px;
}

.aboutList {
  margin-top: 100px;
}
.aboutList .aboutList-list {
  margin: 0 -28px;
  overflow: hidden;
}
.aboutList .aboutList-list .aboutList-item {
  padding: 0 28px;
  width: 33.333%;
  float: left;
}
.aboutList .aboutList-list .aboutList-item .aboutListItem-ico::after {
  width: 113px;
  height: 90px;
  background-size: 113px 90px;
}
.aboutList .aboutList-list .aboutList-item:nth-child(1) .aboutListItem-ico::after {
  background-image: url("../../sources/about/about-us/ico_about1.svg");
}
.aboutList .aboutList-list .aboutList-item:nth-child(2) .aboutListItem-ico::after {
  background-image: url("../../sources/about/about-us/ico_about2.svg");
}
.aboutList .aboutList-list .aboutList-item:nth-child(3) .aboutListItem-ico::after {
  background-image: url("../../sources/about/about-us/ico_about3.svg");
}
.aboutList .aboutList-list .aboutList-item .aboutListItem-ico {
  width: 113px;
  height: 93px;
  position: relative;
  margin-bottom: 55px;
}
.aboutList .aboutList-list .aboutList-item .aboutListItem-ico::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.aboutList .aboutList-list .aboutList-item .aboutListItem-title {
  font-size: 36px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
}
.aboutList .aboutList-list .aboutList-item .aboutListItem-text {
  font-size: 20px;
  line-height: 1.6em;
  color: #000;
  margin-top: 29px;
}

.pageFrontTitle {
  text-align: center;
  margin-bottom: 150px;
  font-size: 110px;
  line-height: 1.2em;
  color: #000;
  font-weight: bold;
}

.history {
  padding: 60px 0 120px;
  position: relative;
}
.history::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #000;
}
.history .historyItem {
  margin-top: 130px;
}
.history .historyItem:first-child {
  margin-top: 0;
}
.history .historyItem .historyItemTitle {
  float: left;
  width: 50%;
  padding-left: 380px;
  font-size: 0;
  line-height: 0;
  position: relative;
}
.history .historyItem .historyItemTitle::before {
  content: "";
  width: 162px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 0;
}
.history .historyItem .historyItemTitle::after {
  content: "";
  width: 13px;
  height: 13px;
  background-image: url("../../sources/about/about-us/ico_radius_history.svg");
  background-size: 13px 13px;
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  z-index: 5;
}
.history .historyItem .historyItemTitle .historyItemTitle-title {
  font-size: 80px;
  line-height: 1.2em;
  color: #000;
  font-weight: bold;
  display: inline-block;
  position: relative;
  background-color: #fff;
}
.history .historyItem .historyItemCont {
  overflow: hidden;
  padding-left: 50px;
}
.history .historyItem .historyItemCont .historyItemCont-list {
  padding-top: 34px;
}
.history .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item {
  margin-top: 10px;
}
.history .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item:first-child {
  margin-top: 0;
}
.history .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item .historyItemContText::after {
  content: "";
  display: table;
  clear: both;
}
.history .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item .historyItemContText .historyItemConText-year {
  float: left;
  margin-right: 13px;
  font-size: 20px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
}
.history .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item .historyItemContText .historyItemContText-text {
  overflow: hidden;
  font-size: 18px;
  line-height: 1.6em;
  color: #000;
}

.newsPost {
  margin-top: 65px;
}
.newsPost .newsPost-item {
  border-top: 1px solid #e0e0e0;
}
.newsPost .newsPost-item:first-child {
  border-top: none;
}
.newsPost .newsPost-item .newsPost-noPost {
  text-align: center;
  font-size: 32px;
  line-height: 1.4em;
  color: #000;
  font-weight: 500;
  padding: 40px 0;
}

.listPaging {
  margin-top: 100px;
  text-align: center;
}
.listPaging .listPaging-list {
  display: inline-block;
  margin: 0 -20px;
}
.listPaging .listPaging-list .listPaging-item {
  display: inline-block;
  padding: 0 20px;
}
.listPaging .listPaging-list .listPaging-item:first-child {
  padding: 0;
  padding-right: 70px;
}
.listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link {
  display: block;
  position: relative;
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  font-family: "Pretendard";
  font-weight: 500;
  line-height: 1.4em;
}
.listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../sources/download/ico-SinglePagingPrev-b.svg");
  background-size: 30px 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.listPaging .listPaging-list .listPaging-item:last-child {
  padding: 0;
  padding-left: 70px;
}
.listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link {
  display: block;
  position: relative;
  padding-right: 40px;
  color: #000;
  font-size: 20px;
  font-family: "Pretendard";
  font-weight: 500;
  line-height: 1.4em;
}
.listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../sources/download/ico-SinglePagingNext-b.svg");
  background-size: 30px 30px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.listPaging .listPaging-list .listPaging-item .listPaging-text {
  display: block;
  position: relative;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4em;
}
.listPaging .listPaging-list .listPaging-item.is-Current .listPaging-text {
  color: #fff;
}
.listPaging .listPaging-list .listPaging-item.is-Current .listPaging-text::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.pageTopBanner {
  height: 430px;
  position: relative;
  margin-bottom: 100px;
}
.pageTopBanner .pageTopBannerBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 0;
  overflow: hidden;
}
.pageTopBanner .pageTopBannerBg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.pageTopBanner .pageTopBannerBg .pageTopBannerBg-img {
  display: block;
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  height: 150%;
  background-size: cover;
  background-position: center center;
}
.pageTopBanner .pageTopBannerText {
  position: absolute;
  bottom: 80px;
  left: 80px;
  width: 70%;
  z-index: 5;
}
.pageTopBanner .pageTopBannerText .pageTopBannerText-title {
  font-size: 60px;
  line-height: 1.2em;
  color: #fff;
  font-weight: bold;
}
.pageTopBanner .pageTopBannerText .pageTopBannerText-text {
  font-size: 24px;
  line-height: 1.5em;
  color: #fff;
  font-weight: 500;
  margin-top: 25px;
}

.pageTable-tbl {
  width: 100%;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
.pageTable-tbl th,
.pageTable-tbl td {
  vertical-align: middle;
  text-align: center;
}
.pageTable-tbl thead th {
  border-bottom: solid 3px #000000;
  border-left: solid 1px #000;
  font-size: 23px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  padding: 21px 10px;
}
.pageTable-tbl thead th:first-child {
  border-left: none;
}
.pageTable-tbl tbody tr:first-child {
  border-top: none;
}
.pageTable-tbl tbody th,
.pageTable-tbl tbody td {
  font-size: 20px;
  line-height: 1.4em;
  color: #000;
  padding: 21px 10px;
  font-weight: normal;
  border-top: 1px solid #000;
}
.pageTable-tbl tbody td {
  border-left: 1px solid #000;
}

.smallSection {
  max-width: 778px;
  margin: 0 auto;
}
.smallSection .imgBox {
  line-height: 0;
  text-align: center;
}
.smallSection .imgBox .supply-img {
  display: block;
  margin: 0 auto;
  width: 432px;
}

.organization {
  margin-bottom: 110px;
}
.organization .organization-item.Depth1 {
  padding-bottom: 74px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.organization .organizationDepth1-title {
  display: inline-block;
  font-size: 28px;
  line-height: 1.4em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 360px;
  padding: 20px 20px;
  background-color: #000;
  position: relative;
}
.organization .organizationDepth1-title::after {
  content: "";
  width: 1px;
  height: 100px;
  border-left: 1px dashed #000;
  position: absolute;
  bottom: -100px;
  left: 50%;
}
.organization .organization-row {
  overflow: hidden;
  padding-top: 55px;
  margin: 0 -39px;
}
.organization .organization-row .organization-item {
  float: left;
  padding: 0 39px;
}
.organization .col-33 .organization-item {
  width: 33.333%;
}
.organization .col-50 .organization-item {
  width: 50%;
}
.organization .organizationDepth2-title {
  display: block;
  font-size: 24px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 18px 20px;
  border: solid 1px #000;
  position: relative;
}
.organization .organizationDepth2-title::before {
  content: "";
  width: calc(100% + 80px);
  height: 1px;
  border-top: dashed 1px #000000;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
}
.organization .organizationDepth2-title::after {
  content: "";
  width: 1px;
  height: 100px;
  border-left: dashed 1px #000;
  position: absolute;
  top: -100px;
  left: 50%;
}
.organization .organization-item:first-child .organizationDepth2-title::before {
  width: calc(50% + 40px);
  transform: translateX(0%);
}
.organization .organization-item:last-child .organizationDepth2-title::before {
  width: calc(50% + 40px);
  left: auto;
  right: 50%;
  transform: translateX(0%);
}
.organization .organizationDepth2-sub {
  margin-top: 48px;
  font-size: 20px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
}
.organization .organization-list {
  margin-top: 13px;
}
.organization .organization-list .organization-text {
  position: relative;
  font-size: 20px;
  line-height: 1.5em;
  color: #000;
  padding-left: 13px;
  margin-top: 18px;
}
.organization .organization-list .organization-text:first-child {
  margin-top: 0;
}
.organization .organization-list .organization-text::before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 12px;
  left: 0;
  background-color: #000;
}
.organization .organization-thumb {
  margin: auto;
  line-height: 0;
  margin-top: 19px;
  width: 60%;
}

.mixedSec {
  display: flex;
}
.mixedSec .mixedSecTitle {
  width: 361px;
}
.mixedSec .mixedSecTitle .mixedSecTitle-title {
  font-size: 40px;
  line-height: 1.4em;
  font-weight: bold;
}
.mixedSec .mixedSecText {
  width: calc(100% - 361px);
  padding-left: 120px;
}
.mixedSec .mixedSecText .mixedItemCont-text {
  display: block;
  color: #000;
  font-size: 20px;
  line-height: 1.6em;
}
.mixedSec .mixedSecText .mixedItemCont-text.big-size {
  font-size: 24px;
}
.mixedSec .mixedSecText .mixedItemTitle {
  margin-bottom: 18px;
}
.mixedSec .mixedSecText .mixedItemTitle .mixedItemTitle-title {
  display: block;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5em;
}
.mixedSec .mixedSecText .mixedItemCont-text {
  display: block;
  font-size: 20px;
  line-height: 1.6em;
}

.mediumSection {
  max-width: 1200px;
  margin: 0 auto;
}

.solutionService {
  position: relative;
  border: 1px solid #e5e5e5;
}
.solutionService .solutionService-inner {
  padding: 85px 106px;
}
.solutionService .solutionService-inner .solutionServiceImg {
  width: 37.5%;
  margin: 0 auto;
  line-height: 0;
}
.solutionService .solutionService-inner .solutionServiceCont {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-title {
  display: none;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item {
  position: absolute;
  min-height: 167px;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:first-child {
  top: 85px;
  left: 106px;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:nth-child(2) {
  top: 85px;
  right: 106px;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:nth-child(3) {
  bottom: 85px;
  left: 106px;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:last-child {
  bottom: 85px;
  right: 106px;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem {
  height: 100%;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-tit {
  display: block;
  color: #000;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.4em;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont {
  margin-top: 10px;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont .solutionItem-txt {
  display: block;
  position: relative;
  margin-top: 10px;
  padding-left: 12px;
  color: #000;
  font-size: 20px;
  line-height: 1.4em;
}
.solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont .solutionItem-txt::before {
  content: "·";
  display: block;
  color: #000;
  font-size: 20px;
  line-height: 1.2em;
  position: absolute;
  top: 0;
  left: 0;
}

.solutionProcess .solutionProcessHeader {
  margin-bottom: 100px;
}
.solutionProcess .solutionProcessHeader .solutionProcessHeader-tit {
  display: block;
  color: #000;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.4em;
}
.solutionProcess .solutionProcessHeader .solutionProcessHeader-txt {
  display: block;
  margin-top: 10px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4em;
}
.solutionProcess .solutionProcessContImg {
  margin-top: 100px;
  line-height: 0;
}
.solutionProcess .solutionProcessContStep-list::after {
  content: "";
  display: block;
  clear: both;
}
.solutionProcess .solutionProcessContStep-item {
  overflow: hidden;
  float: left;
  width: 14.28%;
  padding-right: 40px;
}
.solutionProcess .solutionProcessContStep-item .solutionItem {
  height: 100%;
}
.solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep {
  display: block;
  width: 75px;
  height: 75px;
  position: relative;
  background-color: #000;
  border-radius: 100%;
}
.solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep .solutionItemStep-inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}
.solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep .solutionItemStep-inner .solutionItemStep-txt {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: uppercase;
}
.solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep .solutionItemStep-inner .solutionItemStep-num {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2em;
}
.solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont {
  margin-top: 40px;
}
.solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont .solutionItemCont-tit {
  display: block;
  margin-bottom: 18px;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2em;
}
.solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont .solutionItemCont-txt {
  display: block;
  color: #000;
  font-size: 18px;
  line-height: 1.6em;
}
.solutionProcess .solutionProcessContStep-item:last-child .solutionItemStep::after {
  display: none;
}

.pageSubTab {
  margin-top: 140px;
  margin-bottom: 100px;
  text-align: center;
}
.pageSubTab .pageSubTab-list {
  font-size: 0;
  line-height: 0;
}
.pageSubTab .pageSubTab-list .pageSubTab-item {
  display: inline-block;
  max-width: 33.3333%;
  width: 300px;
}
.pageSubTab .pageSubTab-list .pageSubTab-item .pageSubTab-link {
  font-size: 20px;
  line-height: 1.4em;
  color: #000;
  display: block;
  padding: 16px 20px;
  border: solid 1px #000;
  margin-left: -1px;
  position: relative;
}
.pageSubTab .pageSubTab-list .pageSubTab-item .pageSubTab-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 2px #000;
  opacity: 0;
}
.pageSubTab .pageSubTab-list .is-Current .pageSubTab-link {
  font-weight: bold;
  z-index: 5;
}
.pageSubTab .pageSubTab-list .is-Current .pageSubTab-link::after {
  opacity: 1;
}

.pageSubTabContSec {
  display: none;
}

.processAtc .processAtc-title {
  text-align: center;
  font-size: 40px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  margin-bottom: 100px;
}
.processAtc .processAtcList {
  margin-bottom: 100px;
  overflow: hidden;
  max-width: 1222px;
  margin-left: auto;
  margin-right: auto;
}
.processAtc .processAtcList .processAtcList-list {
  margin: -25px -40px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
.processAtc .processAtcList .processAtcList-list .processAtcList-item {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 25px 40px;
  position: relative;
}
.processAtc .processAtcList .processAtcList-list .processAtcList-item:nth-child(5n+1) {
  clear: both;
}
.processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem {
  border-top: solid 3px #000;
  border-bottom: solid 1px #000;
  padding: 30px 0 35px;
  text-align: left;
}
.processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem .processListItem-step {
  font-size: 18px;
  line-height: 1.2em;
  color: #000;
  font-weight: bold;
  margin-bottom: 8px;
}
.processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem .processListItem-text {
  font-size: 24px;
  line-height: 1.4em;
  color: #000;
  font-weight: 500;
}
.processAtc .processAtcList .processAtcList-list .processAtcList-item::after {
  content: "";
  width: 10px;
  height: 20px;
  background-image: url("../../sources/service/totalSolution/ico_process_arrow.svg");
  background-size: 10px 20px;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}
.processAtc .processAtcList .processAtcList-list .processAtcList-item:nth-child(5)::after, .processAtc .processAtcList .processAtcList-list .processAtcList-item:last-child::after {
  display: none;
}
.processAtc .processOrg .organization-text {
  margin-top: 5px;
}
.processAtc .processOrg .organization-text:last-child {
  margin-top: 0;
}
.processAtc .processOrg .organization-list.it-Height {
  min-height: 156px;
}/*# sourceMappingURL=page.css.map */