@media screen and (min-width: 768px) {
  .categoryTab {
    margin-bottom: 80px;
    border-top: solid 1px #000000;
    text-align: center;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
  }
  .categoryTab-item {
    display: inline-block;
  }
  .is-Current .categoryTab-link {
    font-weight: bold;
  }
  .categoryTab-link {
    display: block;
    font-size: 24px;
    line-height: 1.4em;
    color: #000;
    font-weight: 500;
    padding: 34px 28px 0;
    position: relative;
  }
  .categoryTab-link::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    opacity: 0;
  }
  .is-Current .categoryTab-link::after {
    opacity: 1;
  }
}
@media screen and (max-width: 1920px) and (min-width: 1025px) {
  .pageHeaderTitle {
    margin-bottom: 4.43vw;
  }
  .pageHeaderTitle .pageHeaderTitle-parent {
    font-size: 1.88vw;
    margin-bottom: 0.94vw;
  }
  .pageHeaderTitle .pageHeaderTitle-title {
    font-size: 3.65vw;
  }
  .siteCont .onlyBanner {
    margin-bottom: 5.21vw;
    height: 25vw;
  }
  .siteCont .bgTitleLogo {
    height: 10.68vw;
    margin-bottom: 5.73vw;
  }
  .siteCont .bgTitleLogo .bgTitleLogo-img {
    width: 65.63vw;
  }
  .siteCont .brandHeader {
    margin-bottom: 5.73vw;
  }
  .siteCont .brandHeader .brandHeader-title {
    font-size: 3.13vw;
    margin-bottom: 3.54vw;
  }
  .siteCont .brandHeader .brandHeader-sub {
    font-size: 2.08vw;
    margin-bottom: 1.46vw;
  }
  .siteCont .brandHeader .brandHeader-text {
    font-size: 1.25vw;
  }
  .siteCont .brandLogoPostThumb {
    width: 40.94vw;
  }
  .siteCont .brandLogoPostCont {
    padding-left: 3.13vw;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-title {
    font-size: 2.08vw;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-text {
    margin-top: 1.56vw;
    font-size: 1.04vw;
  }
  .pageTopBanner {
    height: 22.4vw;
    margin-bottom: 5.21vw;
  }
  .pageTopBanner .pageTopBannerText {
    bottom: 4.17vw;
    left: 4.17vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-title {
    font-size: 3.13vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-text {
    font-size: 1.25vw;
    margin-top: 1.3vw;
  }
  .pageTable-tbl thead th {
    font-size: 1.2vw;
    padding: 1.09vw 0.52vw;
  }
  .pageTable-tbl tbody th,
.pageTable-tbl tbody td {
    font-size: 1.04vw;
    padding: 1.09vw 0.52vw;
  }
  .newsPost {
    margin-top: 3.39vw;
  }
  .newsPost .newsPost-item .newsPost-noPost {
    font-size: 1.67vw;
    padding: 2.08vw 0;
  }
  .listPaging {
    margin-top: 5.21vw;
  }
  .listPaging .listPaging-list {
    margin: 0 -1.04vw;
  }
  .listPaging .listPaging-list .listPaging-item {
    padding: 0 1.04vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child {
    padding-right: 3.65vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link {
    padding-left: 2.08vw;
    font-size: 1.04vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link::before {
    width: 1.56vw;
    height: 1.56vw;
    background-size: 1.56vw 1.56vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child {
    padding-left: 3.65vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link {
    padding-right: 2.08vw;
    font-size: 1.04vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link::before {
    width: 1.56vw;
    height: 1.56vw;
    background-size: 1.56vw 1.56vw;
  }
  .listPaging .listPaging-list .listPaging-text {
    font-size: 1.04vw;
  }
  .listPaging .listPaging-item.is-Current .listPaging-text::after {
    width: 1.5625vw;
    height: 1.5625vw;
  }
  .organization .organization-item.Depth1 {
    padding-bottom: 3.85vw;
  }
  .organization .organizationDepth1-title {
    font-size: 1.46vw;
    width: 18.75vw;
    padding: 1.04vw 1.04vw;
  }
  .organization .organization-row {
    padding-top: 2.86vw;
    margin-left: -2.03vw;
    margin-right: -2.03vw;
  }
  .organization .organization-row .organization-item {
    padding: 0 2.03vw;
  }
  .organization .organizationDepth2-title {
    font-size: 1.25vw;
    padding: 0.94vw 1.04vw;
  }
  .organization .organizationDepth2-title::before {
    top: -2.86vw;
    width: calc(100% + 4.17vw);
  }
  .organization .organizationDepth2-title::after {
    height: 5.21vw;
    top: -5.21vw;
  }
  .organization .organization-item:first-child .organizationDepth2-title::before {
    width: calc(50% + 2.08vw);
  }
  .organization .organization-item:last-child .organizationDepth2-title::before {
    width: calc(50% + 2.08vw);
  }
  .organization .organizationDepth2-sub {
    margin-top: 2.5vw;
    font-size: 1.04vw;
  }
  .organization .organization-list {
    margin-top: 0.68vw;
  }
  .organization .organization-list .organization-text {
    font-size: 1.04vw;
    padding-left: 0.68vw;
    margin-top: 0.94vw;
  }
  .organization .organization-list .organization-text::before {
    top: calc(0.52vw + 2px);
  }
  .organization .organization-thumb {
    margin-top: 0.99vw;
  }
  .categoryTab {
    margin-bottom: 4.17vw;
  }
  .categoryTab .categoryTab-link {
    font-size: 1.25vw;
    padding: 1.77vw 1.46vw 0;
  }
  .aboutImgLogo {
    margin-bottom: 1.67vw;
  }
  .aboutImgLogo .aboutImgLogo-img {
    width: 28.18vw;
  }
  .aboutBigTitle {
    font-size: 3.13vw;
    margin-bottom: 12.5vw;
  }
  .aboutBanner {
    height: 33.33vw;
  }
  .aboutBanner .aboutBannerText {
    bottom: 5.21vw;
  }
  .aboutBanner .aboutBannerText .aboutBannerText-title {
    font-size: 3.13vw;
  }
  .aboutBanner .aboutBannerText .aboutBannerText-text {
    font-size: 1.25vw;
    margin-top: 1.46vw;
  }
  .aboutList {
    margin-top: 5.21vw;
  }
  .aboutList .aboutList-list {
    margin: 0 -1.46vw;
  }
  .aboutList .aboutList-list .aboutList-item {
    padding: 0 1.46vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-ico::after {
    width: 5.89vw;
    height: 4.69vw;
    background-size: 5.89vw 4.69vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-ico {
    width: 5.89vw;
    height: 4.84vw;
    margin-bottom: 2.86vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-title {
    font-size: 1.88vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-text {
    font-size: 1.04vw;
    margin-top: 1.51vw;
  }
  .pageFrontTitle {
    margin-bottom: 7.81vw;
    font-size: 5.73vw;
  }
  .historyCont {
    padding: 3.13vw 0 6.25vw;
  }
  .historyCont .historyItem {
    margin-top: 6.77vw;
  }
  .historyCont .historyItem .historyItemTitle {
    padding-left: 19.79vw;
  }
  .historyCont .historyItem .historyItemTitle::before {
    width: 8.44vw;
  }
  .historyCont .historyItem .historyItemTitle::after {
    width: 0.68vw;
    height: 0.68vw;
    background-size: 0.68vw 0.68vw;
    right: -0.31vw;
  }
  .historyCont .historyItem .historyItemTitle .historyItemTitle-title {
    font-size: 4.17vw;
  }
  .historyCont .historyItem .historyItemCont {
    padding-left: 2.6vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list {
    padding-top: 1.77vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item {
    margin-top: 0.52vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item .historyItemContText .historyItemConText-year {
    margin-right: 0.68vw;
    font-size: 1.04vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item .historyItemContText .historyItemContText-text {
    font-size: 0.94vw;
  }
  .mediumSection {
    max-width: 62.5vw;
  }
  .mixedSec .mixedSecTitle {
    width: 18.8vw;
  }
  .mixedSec .mixedSecTitle .mixedSecTitle-title {
    font-size: 2.08vw;
  }
  .mixedSec .mixedSecText {
    width: calc(100% - 18.8vw);
    padding-left: 6.25vw;
  }
  .mixedSec .mixedSecText .mixedItemCont-text {
    font-size: 1.04vw;
  }
  .mixedSec .mixedSecText .mixedItemCont-text.big-size {
    font-size: 1.25vw;
  }
  .mixedSec .mixedSecText .mixedItemTitle {
    margin-bottom: 0.94vw;
  }
  .mixedSec .mixedSecText .mixedItemTitle .mixedItemTitle-title {
    font-size: 1.46vw;
  }
  .mixedSec .mixedSecText .mixedItemCont-text {
    font-size: 1.04vw;
  }
  .solutionService .solutionService-inner {
    padding: 4.43vw 5.52vw;
  }
  .solutionService .solutionService-inner .solutionServiceImg {
    width: 37.5%;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item {
    min-height: 8.7vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:first-child {
    top: 4.43vw;
    left: 5.52vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:nth-child(2) {
    top: 4.43vw;
    right: 5.52vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:nth-child(3) {
    bottom: 4.43vw;
    left: 2.52vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:last-child {
    bottom: 4.43vw;
    right: 5.52vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-tit {
    font-size: 1.46vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont {
    margin-top: 0.52vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont .solutionItem-txt {
    margin-top: 0.52vw;
    padding-left: 0.63vw;
    font-size: 1.04vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont .solutionItem-txt::before {
    font-size: 1.04vw;
  }
  .solutionProcess {
    margin-top: 7.81vw;
    padding-right: 7.55vw;
  }
  .solutionProcess .solutionProcessHeader {
    margin-bottom: 5.21vw;
  }
  .solutionProcess .solutionProcessHeader .solutionProcessHeader-tit {
    font-size: 3.13vw;
  }
  .solutionProcess .solutionProcessHeader .solutionProcessHeader-txt {
    margin-top: 0.52vw;
    font-size: 2.08vw;
  }
  .solutionProcess .solutionProcessContImg {
    margin-top: 5.21vw;
  }
  .solutionProcess .solutionProcessContStep-item {
    width: 14.28%;
    padding-right: 2.08vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep {
    width: 3.91vw;
    height: 3.91vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep .solutionItemStep-inner .solutionItemStep-txt {
    font-size: 0.73vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep .solutionItemStep-inner .solutionItemStep-num {
    font-size: 0.83vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont {
    margin-top: 2.08vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont .solutionItemCont-tit {
    margin-bottom: 0.94vw;
    font-size: 1.15vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont .solutionItemCont-txt {
    font-size: 0.94vw;
  }
  .pageSubTab {
    margin-top: 7.29vw;
    margin-bottom: 5.21vw;
  }
  .pageSubTab .pageSubTab-list .pageSubTab-item {
    width: 15.63vw;
  }
  .pageSubTab .pageSubTab-list .pageSubTab-item .pageSubTab-link {
    font-size: 1.04vw;
    padding: 0.83vw 1.04vw;
  }
  .processAtc .processAtc-title {
    font-size: 2.08vw;
    margin-bottom: 5.21vw;
  }
  .processAtc .processAtcList {
    margin-bottom: 5.21vw;
    max-width: 63.65vw;
  }
  .processAtc .processAtcList .processAtcList-list {
    margin: -1.3vw -2.08vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item {
    padding: 1.3vw 2.08vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem {
    padding: 1.56vw 0 1.82vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem .processListItem-step {
    font-size: 0.94vw;
    margin-bottom: 0.42vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem .processListItem-text {
    font-size: 1.25vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item::after {
    width: 0.52vw;
    height: 1.04vw;
    background-size: 0.52vw 1.04vw;
    right: -0.26vw;
  }
  .processAtc .processOrg .organization-text {
    margin-top: 5px;
  }
  .processAtc .processOrg .organization-list.it-Height {
    min-height: 8.13vw;
  }
  #sitemap .menu-wrapper > .menu-item > a {
    font-size: 2.08vw;
  }
  #sitemap .menu-wrapper > .menu-item > .sub-menu {
    margin-top: 1.04vw;
  }
  #sitemap .menu-wrapper > .menu-item > .sub-menu > .menu-item {
    margin-top: 0.52vw;
  }
  #sitemap .menu-wrapper > .menu-item > .sub-menu > .menu-item > a {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .pageHeaderTitle {
    margin-bottom: 5.17vw;
  }
  .pageHeaderTitle .pageHeaderTitle-parent {
    font-size: 3.52vw;
    margin-bottom: 1.76vw;
  }
  .pageHeaderTitle .pageHeaderTitle-title {
    font-size: 5.95vw;
  }
  .siteCont .onlyBanner {
    margin-bottom: 8.21vw;
    height: 25vw;
  }
  .siteCont .bgTitleLogo {
    height: 10.68vw;
    margin-bottom: 8.73vw;
  }
  .siteCont .bgTitleLogo .bgTitleLogo-img {
    width: 65.63vw;
  }
  .siteCont .brandHeader {
    margin-bottom: 8.73vw;
  }
  .siteCont .brandHeader .brandHeader-title {
    font-size: 4.43vw;
    margin-bottom: 4.94vw;
  }
  .siteCont .brandHeader .brandHeader-sub {
    font-size: 3.43vw;
    margin-bottom: 2.5vw;
  }
  .siteCont .brandHeader .brandHeader-text {
    font-size: 2.05vw;
  }
  .siteCont .brandLogoPostThumb {
    width: 40.94vw;
  }
  .siteCont .brandLogoPostCont {
    padding-left: 4.13vw;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-title {
    font-size: 3.43vw;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-text {
    margin-top: 1.56vw;
    font-size: 1.8vw;
  }
  .pageTopBanner {
    height: 27.4vw;
    margin-bottom: 6.51vw;
  }
  .pageTopBanner .pageTopBannerText {
    bottom: 4.17vw;
    left: 4.17vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-title {
    font-size: 4.43vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-text {
    font-size: 1.72vw;
    margin-top: 1.3vw;
  }
  .pageTable-tbl thead th {
    font-size: 1.8vw;
    padding: 1.59vw 0.52vw;
    border-bottom: solid 2px #000000;
  }
  .pageTable-tbl tbody th,
.pageTable-tbl tbody td {
    font-size: 1.46vw;
    padding: 1.59vw 0.52vw;
  }
  .newsPost {
    margin-top: 6.35vw;
  }
  .newsPost .newsPost-item .newsPost-noPost {
    font-size: 2.67vw;
    padding: 2.55vw 0;
  }
  .listPaging {
    margin-top: 9.77vw;
  }
  .listPaging .listPaging-list {
    margin: 0 -1.95vw;
  }
  .listPaging .listPaging-list .listPaging-item {
    padding: 0 1.95vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child {
    padding-right: 6.84vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link {
    padding-left: 3.91vw;
    font-size: 1.95vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link::before {
    width: 2.93vw;
    height: 2.93vw;
    background-size: 2.93vw 2.93vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child {
    padding-left: 6.84vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link {
    padding-right: 3.91vw;
    font-size: 1.95vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link::before {
    width: 2.93vw;
    height: 2.93vw;
    background-size: 2.93vw 2.93vw;
  }
  .listPaging .listPaging-list .listPaging-text {
    font-size: 1.95vw;
  }
  .listPaging .listPaging-item.is-Current .listPaging-text::after {
    width: 2.93vw;
    height: 2.93vw;
  }
  .organization .organization-item.Depth1 {
    padding-bottom: 5.85vw;
  }
  .organization .organizationDepth1-title {
    font-size: 2.15vw;
    width: 29.75vw;
    padding: 1.44vw 1.04vw;
  }
  .organization .organizationDepth1-title::after {
    height: 7.21vw;
    bottom: -7.21vw;
  }
  .organization .organization-row {
    padding-top: 4.87vw;
    margin-left: -2.03vw;
    margin-right: -2.03vw;
  }
  .organization .organization-row .organization-item {
    padding: 0 2.03vw;
  }
  .organization .organizationDepth2-title {
    font-size: 1.93vw;
    padding: 1.29vw 1.04vw;
  }
  .organization .organizationDepth2-title::before {
    top: -4.86vw;
    width: calc(100% + 4.17w);
  }
  .organization .organizationDepth2-title::after {
    height: 5.21vw;
    top: -5.21vw;
  }
  .organization .organization-item:first-child .organizationDepth2-title::before {
    width: calc(50% + 2.08vw);
  }
  .organization .organization-item:last-child .organizationDepth2-title::before {
    width: calc(50% + 2.08vw);
  }
  .organization .organizationDepth2-sub {
    margin-top: 2.8vw;
    font-size: 1.84vw;
  }
  .organization .organization-list {
    margin-top: 1.27vw;
  }
  .organization .organization-list .organization-text {
    font-size: 1.52vw;
    padding-left: 0.98vw;
    margin-top: 1.29vw;
  }
  .organization .organization-list .organization-text::before {
    top: calc(0.52vw + 2px);
  }
  .organization .organization-thumb {
    margin-top: 1.5vw;
  }
  .categoryTab {
    margin-bottom: 6.17vw;
  }
  .categoryTab .categoryTab-link {
    font-size: 2.2vw;
    padding: 2.47vw 1.86vw 0;
  }
  .aboutImgLogo {
    margin-bottom: 2.67vw;
  }
  .aboutImgLogo .aboutImgLogo-img {
    width: 34.18vw;
  }
  .aboutBigTitle {
    font-size: 4.43vw;
    margin-bottom: 13.5vw;
  }
  .aboutBanner {
    height: 35.33vw;
  }
  .aboutBanner .aboutBannerText {
    bottom: 5.21vw;
  }
  .aboutBanner .aboutBannerText .aboutBannerText-title {
    font-size: 4.13vw;
  }
  .aboutBanner .aboutBannerText .aboutBannerText-text {
    font-size: 1.5vw;
    margin-top: 1.58vw;
  }
  .aboutList {
    margin-top: 7.21vw;
  }
  .aboutList .aboutList-list {
    margin: 0 -1.46vw;
  }
  .aboutList .aboutList-list .aboutList-item {
    padding: 0 1.46vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-ico::after {
    width: 5.89vw;
    height: 4.69vw;
    background-size: 5.89vw 4.69vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-ico {
    width: 5.89vw;
    height: 4.84vw;
    margin-bottom: 2.86vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-title {
    font-size: 2.29vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-text {
    font-size: 1.52vw;
    margin-top: 1.51vw;
  }
  .pageFrontTitle {
    margin-bottom: 9.81vw;
    font-size: 8.73vw;
  }
  .historyCont {
    padding: 4.13vw 0 7.25vw;
  }
  .historyCont .historyItem {
    margin-top: 8.77vw;
  }
  .historyCont .historyItem .historyItemTitle {
    padding-left: 19.79vw;
  }
  .historyCont .historyItem .historyItemTitle::before {
    width: 8.44vw;
  }
  .historyCont .historyItem .historyItemTitle::after {
    width: 1vw;
    height: 1vw;
    background-size: 1vw 1vw;
    right: -0.5vw;
  }
  .historyCont .historyItem .historyItemTitle .historyItemTitle-title {
    font-size: 4.67vw;
  }
  .historyCont .historyItem .historyItemCont {
    padding-left: 2.6vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list {
    padding-top: 1.77vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item {
    margin-top: 1.21vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item .historyItemContText .historyItemConText-year {
    margin-right: 1.2vw;
    font-size: 1.55vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item .historyItemContText .historyItemContText-text {
    font-size: 1.39vw;
  }
  .mediumSection {
    max-width: 100%;
  }
  .mixedSec .mixedSecTitle {
    width: 26.8vw;
  }
  .mixedSec .mixedSecTitle .mixedSecTitle-title {
    font-size: 3.08vw;
  }
  .mixedSec .mixedSecText {
    width: calc(100% - 26.8vw);
    padding-left: 6.25vw;
  }
  .mixedSec .mixedSecText .mixedItemCont-text {
    font-size: 1.82vw;
  }
  .mixedSec .mixedSecText .mixedItemCont-text.big-size {
    font-size: 2vw;
  }
  .mixedSec .mixedSecText .mixedItemTitle {
    margin-bottom: 1.24vw;
  }
  .mixedSec .mixedSecText .mixedItemTitle .mixedItemTitle-title {
    font-size: 2.7vw;
  }
  .mixedSec .mixedSecText .mixedItemCont-text {
    font-size: 1.82vw;
  }
  .solutionService .solutionService-inner {
    padding: 10.3vw 2.35vw;
  }
  .solutionService .solutionService-inner .solutionServiceImg {
    width: 27.5%;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item {
    width: 33%;
    min-height: 11.31vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:first-child {
    top: 4.43vw;
    left: 2.52vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:nth-child(2) {
    top: 4.43vw;
    right: 2.52vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:nth-child(3) {
    bottom: 4.43vw;
    left: 2.52vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item:last-child {
    bottom: 4.43vw;
    right: 2.52vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-tit {
    font-size: 2vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont {
    margin-top: 0.98vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont .solutionItem-txt {
    margin-top: 0.66vw;
    padding-left: 1.17vw;
    font-size: 1.53vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont .solutionItem-txt::before {
    font-size: 1.95vw;
  }
  .solutionProcess {
    margin-top: 14.65vw;
    padding-right: 0;
  }
  .solutionProcess .solutionProcessHeader {
    margin-bottom: 9.77vw;
  }
  .solutionProcess .solutionProcessHeader .solutionProcessHeader-tit {
    font-size: 5.86vw;
  }
  .solutionProcess .solutionProcessHeader .solutionProcessHeader-txt {
    margin-top: 0.98vw;
    font-size: 3.91vw;
  }
  .solutionProcess .solutionProcessContStep-item {
    width: 25%;
    padding: 2vw 0;
    padding-right: 3.91vw;
  }
  .solutionProcess .solutionProcessContStep-item:nth-child(5) {
    clear: both;
  }
  .solutionProcess .solutionProcessContStep-item .solutionProcessContImg {
    margin-top: 9.77vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep {
    width: 7.32vw;
    height: 7.32vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep .solutionItemStep-inner .solutionItemStep-txt {
    font-size: 1.37vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep .solutionItemStep-inner .solutionItemStep-num {
    font-size: 1.56vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont {
    margin-top: 2.08vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont .solutionItemCont-tit {
    margin-bottom: 1.76vw;
    font-size: 2.15vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont .solutionItemCont-txt {
    font-size: 1.76vw;
  }
  .pageSubTab {
    margin-top: 8.29vw;
    margin-bottom: 6.21vw;
  }
  .pageSubTab .pageSubTab-list .pageSubTab-item {
    width: 20.63vw;
  }
  .pageSubTab .pageSubTab-list .pageSubTab-item .pageSubTab-link {
    font-size: 1.74vw;
    padding: 1.28vw 1.04vw;
  }
  .processAtc .processAtc-title {
    font-size: 4.18vw;
    margin-bottom: 6.21vw;
  }
  .processAtc .processAtcList {
    margin-bottom: 8.21vw;
    max-width: 100%;
  }
  .processAtc .processAtcList .processAtcList-list {
    margin: -1.73vw -3.08vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item {
    padding: 1.73vw 3.08vw;
    width: 25%;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item:nth-child(4n+1) {
    clear: both !important;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem {
    padding: 2.3vw 0 2.42vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem .processListItem-step {
    font-size: 1.79vw;
    margin-bottom: 0.84vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem .processListItem-text {
    font-size: 2.25vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item::after {
    width: 0.77vw;
    height: 1.54vw;
    background-size: 0.77vw 1.54vw;
    right: -0.26vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item:nth-child(5)::after {
    display: block;
  }
  .processAtc .processOrg .organization-list.it-Height {
    min-height: 11.13vw;
  }
  #sitemap .menu-wrapper > .menu-item > a {
    font-size: 3.07vw;
  }
  #sitemap .menu-wrapper > .menu-item > .sub-menu {
    margin-top: 2.04vw;
  }
  #sitemap .menu-wrapper > .menu-item > .sub-menu > .menu-item {
    margin-top: 0.92vw;
  }
  #sitemap .menu-wrapper > .menu-item > .sub-menu > .menu-item > a {
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1px) {
  .pageHeaderTitle {
    margin-bottom: 8.17vw;
  }
  .pageHeaderTitle .pageHeaderTitle-parent {
    font-size: 6.69vw;
    margin-bottom: 2.09vw;
  }
  .pageHeaderTitle .pageHeaderTitle-title {
    font-size: 9.95vw;
  }
  .siteCont .onlyBanner {
    margin-bottom: 12.21vw;
    height: 30vw;
  }
  .siteCont .bgTitleLogo {
    height: 12.68vw;
    margin-bottom: 12.73vw;
  }
  .siteCont .bgTitleLogo .bgTitleLogo-img {
    width: 75.63vw;
  }
  .siteCont .brandHeader {
    margin-bottom: 16.73vw;
  }
  .siteCont .brandHeader .brandHeader-title {
    font-size: 7.29vw;
    margin-bottom: 8.94vw;
  }
  .siteCont .brandHeader .brandHeader-sub {
    font-size: 5.93vw;
    margin-bottom: 4.5vw;
  }
  .siteCont .brandHeader .brandHeader-text {
    font-size: 4.05vw;
  }
  .siteCont .brandLogoPostThumb {
    display: block;
    width: 100%;
    margin-bottom: 7vw;
  }
  .siteCont .brandLogoPostCont {
    padding-left: 0;
    display: block;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-title {
    font-size: 5.93vw;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-text {
    margin-top: 3.06vw;
    font-size: 3.85vw;
  }
  .pageTopBanner {
    height: 52vw;
    margin-bottom: 18.51vw;
    margin-left: -6.25vw;
    margin-right: -6.25vw;
  }
  .pageTopBanner .pageTopBannerText {
    bottom: 6.25vw;
    left: 6.25vw;
    width: auto;
    right: 6.25vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-title {
    font-size: 7.29vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-text {
    font-size: 3.72vw;
    margin-top: 2.7vw;
  }
  .pageTable-tbl thead th {
    font-size: 3.9vw;
    padding: 3.59vw 1.52vw;
    border-bottom: solid 2px #000000;
  }
  .pageTable-tbl tbody th,
.pageTable-tbl tbody td {
    font-size: 3.57vw;
    padding: 3.59vw 1.52vw;
  }
  .newsPost {
    margin-top: 13.83vw;
  }
  .newsPost .newsPost-item .newsPost-noPost {
    font-size: 5.67vw;
    padding: 2.55vw 0;
  }
  .listPaging {
    margin-top: 13.43vw;
  }
  .listPaging .listPaging-list {
    margin: -1.25vw -4.25vw;
  }
  .listPaging .listPaging-list .listPaging-item {
    padding: 1.95vw 4.25vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child {
    padding-right: 1.25vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link {
    padding-left: 6.25vw;
    font-size: 4vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link::before {
    width: 5vw;
    height: 5vw;
    background-size: 5vw 5vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child {
    padding-left: 1.25vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link {
    padding-right: 6.25vw;
    font-size: 4vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link::before {
    width: 5vw;
    height: 5vw;
    background-size: 5vw 5vw;
  }
  .listPaging .listPaging-list .listPaging-item .listPaging-text {
    font-size: 4vw;
  }
  .listPaging .listPaging-list .listPaging-item.is-Current .listPaging-text::after {
    width: 6.375vw;
    height: 6.375vw;
  }
  .organization .organization-item.Depth1 {
    padding-bottom: 8.85vw;
  }
  .organization .organizationDepth1-title {
    font-size: 5.15vw;
    width: 100%;
    padding: 4.28vw 1.04vw;
  }
  .organization .organizationDepth1-title::after {
    height: 9.21vw;
    bottom: -9.21vw;
  }
  .organization .organization-row {
    padding-top: 0;
    margin-left: -2.03vw;
    margin-right: -2.03vw;
  }
  .organization .organization-row .organization-item {
    padding: 0 2.03vw;
    width: 100%;
    margin-top: 12vw;
  }
  .organization .organization-row .organization-item:first-child {
    margin-top: 0;
  }
  .organization .organizationDepth2-title {
    font-size: 4.45vw;
    padding: 2.84vw 1.04vw;
  }
  .organization .organizationDepth2-title::before, .organization .organizationDepth2-title::after {
    display: none;
  }
  .organization .organizationDepth2-sub {
    margin-top: 5.8vw;
    font-size: 4.79vw;
  }
  .organization .organization-list {
    margin-top: 2.27vw;
  }
  .organization .organization-list .organization-text {
    font-size: 3.72vw;
    padding-left: 2.4vw;
    margin-top: 1.29vw;
  }
  .organization .organization-list .organization-text::before {
    top: calc(1.22vw + 2px);
  }
  .organization .organization-thumb {
    margin-top: 4vw;
    width: 100%;
  }
  .categoryTab {
    margin-bottom: 11.17vw;
    position: relative;
  }
  .categoryTab .categoryTab-select {
    display: block;
  }
  .categoryTab .categoryTab-list {
    position: absolute;
    left: 0;
    right: 0;
    border: solid 2px #000;
    padding: 3.38125vw 5vw;
    margin-top: 2vw;
    z-index: 5;
    background-color: #fff;
    display: none;
  }
  .categoryTab .is-Open .categoryTab-list {
    display: block;
  }
  .categoryTab .categoryTab-item {
    margin-top: 2vw;
  }
  .categoryTab .categoryTab-item .categoryTab-link {
    font-size: 4.2vw;
    line-height: 1.4em;
    color: #000;
    display: block;
  }
  .aboutImgLogo {
    margin-bottom: 4.67vw;
  }
  .aboutImgLogo .aboutImgLogo-img {
    width: 55.18vw;
  }
  .aboutBigTitle {
    font-size: 7.29vw;
    margin-bottom: 17.5vw;
  }
  .aboutBanner {
    height: 90.33vw;
  }
  .aboutBanner .aboutBannerText {
    bottom: 7.21vw;
  }
  .aboutBanner .aboutBannerText .aboutBannerText-title {
    font-size: 7.47vw;
  }
  .aboutBanner .aboutBannerText .aboutBannerText-text {
    font-size: 3.6vw;
    margin-top: 2.58vw;
  }
  .aboutList {
    margin-top: 13.21vw;
  }
  .aboutList .aboutList-list {
    margin: 0 -1.46vw;
  }
  .aboutList .aboutList-list .aboutList-item {
    padding: 0 1.46vw;
    width: 100%;
    float: none;
    margin-top: 10vw;
  }
  .aboutList .aboutList-list .aboutList-item:first-child {
    margin-top: 0;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-ico::after {
    width: 11.69vw;
    height: 9.29vw;
    background-size: 11.69vw 9.29vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-ico {
    width: 11.69vw;
    height: 9.64vw;
    margin-bottom: 3.86vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-title {
    font-size: 5.4vw;
  }
  .aboutList .aboutList-list .aboutList-item .aboutListItem-text {
    font-size: 3.72vw;
    margin-top: 3.15vw;
  }
  .pageFrontTitle {
    margin-bottom: 12.81vw;
    font-size: 13.73vw;
  }
  .historyCont {
    padding: 8.13vw 0 11.25vw;
    padding-left: 7vw;
  }
  .historyCont::before {
    left: 0;
  }
  .historyCont .historyItem {
    margin-top: 18.77vw;
  }
  .historyCont .historyItem .historyItemTitle {
    padding-left: 0;
    width: 100%;
    float: none;
  }
  .historyCont .historyItem .historyItemTitle::before {
    width: 5vw;
    right: auto;
    left: -7vw;
    margin-top: -1px;
  }
  .historyCont .historyItem .historyItemTitle::after {
    width: 3vw;
    height: 3vw;
    background-size: 3vw 3vw;
    right: auto;
    left: -8.5vw;
  }
  .historyCont .historyItem .historyItemTitle .historyItemTitle-title {
    font-size: 9.87vw;
  }
  .historyCont .historyItem .historyItemCont {
    padding-left: 0;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list {
    padding-top: 4.77vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item {
    margin-top: 2.51vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item .historyItemContText .historyItemConText-year {
    margin-right: 3.2vw;
    font-size: 4.3vw;
  }
  .historyCont .historyItem .historyItemCont .historyItemCont-list .historyItemCont-item .historyItemContText .historyItemContText-text {
    font-size: 3.69vw;
  }
  .mediumSection {
    max-width: 100%;
  }
  .mixedSec {
    display: block;
  }
  .mixedSec .mixedSecTitle {
    width: 100%;
    display: block;
  }
  .mixedSec .mixedSecTitle .mixedSecTitle-title {
    font-size: 6.48vw;
    margin-bottom: 3.97vw;
  }
  .mixedSec .mixedSecText {
    width: 100%;
    padding-left: 0;
  }
  .mixedSec .mixedSecText .mixedItemCont-text {
    font-size: 3.73vw;
  }
  .mixedSec .mixedSecText .mixedItemCont-text.big-size {
    font-size: 4.2vw;
  }
  .mixedSec .mixedSecText .mixedItemTitle {
    margin-bottom: 2.83vw;
  }
  .mixedSec .mixedSecText .mixedItemTitle .mixedItemTitle-title {
    font-size: 5.18vw;
  }
  .mixedSec .mixedSecText .mixedItemCont-text {
    font-size: 3.73vw;
  }
  .solutionService .solutionService-inner {
    border: none;
    padding: 6vw 6.25vw 7vw;
  }
  .solutionService .solutionService-inner .solutionServiceImg {
    display: none;
  }
  .solutionService .solutionService-inner .solutionServiceCont {
    position: static;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-title {
    display: block;
    margin-bottom: 4vw;
    color: #000;
    font-size: 6vw;
    line-height: 1.6em;
    font-weight: bold;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item {
    position: static;
    width: 100%;
    min-height: auto;
    padding-bottom: 6vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-tit {
    font-size: 4vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont {
    margin-top: 1.67vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont .solutionItem-txt {
    margin-top: 1vw;
    padding-left: 3.2vw;
    font-size: 3.75vw;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont .solutionItem-txt:first-child {
    margin-top: 0;
  }
  .solutionService .solutionService-inner .solutionServiceCont .solutionServiceCont-item .solutionItem .solutionItem-cont .solutionItem-txt::before {
    font-size: 3.75vw;
  }
  .solutionProcess {
    margin-top: 14vw;
    padding-right: 0;
  }
  .solutionProcess .solutionProcessHeader {
    margin-bottom: 8.67vw;
  }
  .solutionProcess .solutionProcessHeader .solutionProcessHeader-tit {
    font-size: 7.95vw;
  }
  .solutionProcess .solutionProcessHeader .solutionProcessHeader-txt {
    margin-top: 1.67vw;
    font-size: 5.46vw;
  }
  .solutionProcess .solutionProcessContImg {
    margin-top: 10vw;
  }
  .solutionProcess .solutionProcessContStep-item {
    width: 50%;
    padding: 5vw 0;
    padding-right: 6vw;
  }
  .solutionProcess .solutionProcessContStep-item:nth-child(odd) {
    clear: both;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep {
    width: 17vw;
    height: 17vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep .solutionItemStep-inner .solutionItemStep-txt {
    font-size: 3.33vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemStep .solutionItemStep-inner .solutionItemStep-num {
    font-size: 3.75vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont {
    margin-top: 5.67vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont .solutionItemCont-tit {
    margin-bottom: 3vw;
    font-size: 5vw;
  }
  .solutionProcess .solutionProcessContStep-item .solutionItem .solutionItemCont .solutionItemCont-txt {
    font-size: 3.75vw;
  }
  .pageSubTab {
    margin-top: 16.29vw;
    margin-bottom: 13.21vw;
  }
  .pageSubTab .pageSubTab-list .pageSubTab-item {
    width: 100%;
  }
  .pageSubTab .pageSubTab-list .pageSubTab-item .pageSubTab-link {
    font-size: 3.64vw;
    padding: 3.28vw 1.04vw;
  }
  .pageSubTab .pageSubTab-list .pageSubTab-item .pageSubTab-link::after {
    border: solid 1px #000;
  }
  .processAtc .processAtc-title {
    font-size: 5.68vw;
    margin-bottom: 10.21vw;
  }
  .processAtc .processAtcList {
    margin-bottom: 16.21vw;
    max-width: 100%;
  }
  .processAtc .processAtcList .processAtcList-list {
    margin: -2.03vw -5.58vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item {
    padding: 2.03vw 5.58vw;
    width: 50%;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item:nth-child(odd) {
    clear: both !important;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem {
    padding: 4.7vw 0 4.42vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem .processListItem-step {
    font-size: 3.79vw;
    margin-bottom: 1.18vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item .processListItem .processListItem-text {
    font-size: 4.5vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item::after {
    width: 2.02vw;
    height: 4.04vw;
    background-size: 2.02vw 4.04vw;
    right: -0.26vw;
  }
  .processAtc .processAtcList .processAtcList-list .processAtcList-item:nth-child(5)::after {
    display: block;
  }
  .processAtc .processOrg .organization-list.it-Height {
    min-height: 0;
  }
  #sitemap .menu-wrapper > .menu-item {
    width: 50%;
    padding: 7vw 2vw;
  }
  #sitemap .menu-wrapper > .menu-item:nth-child(odd) {
    clear: both;
  }
  #sitemap .menu-wrapper > .menu-item > a {
    font-size: 6.07vw;
  }
  #sitemap .menu-wrapper > .menu-item > .sub-menu {
    margin-top: 3.6vw;
  }
  #sitemap .menu-wrapper > .menu-item > .sub-menu > .menu-item {
    margin-top: 0;
  }
  #sitemap .menu-wrapper > .menu-item > .sub-menu > .menu-item > a {
    font-size: 2.2vw;
    font-size: 4.28vw;
  }
}/*# sourceMappingURL=page_device.css.map */