.pageHeaderTitle {
  text-align: center;
  margin-bottom: 85px;
  .pageHeaderTitle-parent {
    font-size: 36px;
    line-height: 1.2em;
    margin-bottom: 18px;
    font-weight: bold;
  }
  .pageHeaderTitle-title {
    font-size: 70px;
    line-height: 1.1em;
    color: #000;
    font-weight: bold;
  }
}

.siteCont {
  .onlyBanner {
    margin-bottom: 100px;
    position: relative;
    height: 480px;
    .onlyBannerBg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 100vw;
      overflow: hidden;
      .onlyBannerBg-img {
        display: block;
        position: absolute;
        top: 0%;
        left: 0;
        right: 0;
        height: 150%;
        background-size: cover;
        background-position: center centers;
      }
    }
  }
  .bgTitleLogo {
    text-align: right;
    font-size: 0;
    line-height: 0;
    height: 205px;
    position: relative;
    margin-bottom: 110px;
    .bgTitleLogo-inner {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100%;
      overflow: hidden;
    }
    .bgTitleLogo-img {
      display: block;
      float: right;
      width: 1260px;
    }
  }
  .brandHeader {
    margin-bottom: 110px;
    .brandHeader-title {
      font-size: 60px;
      line-height: 1.4em;
      color: #000;
      font-weight: bold;
      margin-bottom: 68px;
    }
    .brandHeader-sub {
      font-size: 40px;
      line-height: 1.4em;
      color: #000;
      font-weight: bold;
      margin-bottom: 28px;
    }
    .brandHeader-text {
      font-size: 24px;
      line-height: 1.6em;
      color: #000;
    }
  }
  .brandLogoPost {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .brandLogoPostThumb {
    display: table-cell;
    vertical-align: top;
    line-height: 0;
    width: 786px;
  }
  .brandLogoPostCont {
    display: table-cell;
    vertical-align: middle;
    padding-left: 60px;
    .brandLogoPostCont-title {
      font-size: 40px;
      line-height: 1.4em;
      color: #000;
      font-weight: bold;
    }
    .brandLogoPostCont-text {
      margin-top: 30px;
      font-size: 20px;
      line-height: 1.7em;
    }
  }
}

// 회사 소개 페이지
.categoryTab {
  .categoryTab-select {
    display: block;
    border: solid 2px #000;
    padding: 3.5vw 12vw 3vw 5vw;
    font-size: 4.9vw;
    font-weight: 500;
    line-height: 1.4em;
    color: #000;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: none;
    &::after {
      content: "";
      width: 3vw;
      height: 4vw;
      background-image: url("../../sources/about/about-us/ico_family-arrow.svg");
      background-size: 3vw 4vw;
      position: absolute;
      top: 50%;
      right: 5vw;
      transform: translateY(-50%);
      margin-top: -0.1vw;
    }
  }
}
.aboutImgLogo {
  line-height: 0;
  text-align: center;
  margin-bottom: 32px;
  .aboutImgLogo-img {
    display: block;
    margin: 0 auto;
    width: 541px;
  }
}
.aboutBigTitle {
  text-align: center;
  font-size: 60px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  margin-bottom: 240px;
}
.aboutBanner {
  position: relative;
  height: 640px;
  .aboutBannerBg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 101vw;
    height: 100%;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      opacity: 0.8;
    }
    .aboutBannerBg-img {
      display: block;
      position: absolute;
      top: -40%;
      left: 0;
      right: 0;
      height: 150%;
      background-image: url("../../sources/about/about-banner-min.png");
      background-size: cover;
      background-position: center center;
    }
  }
  .aboutBannerText {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    z-index: 5;
    .aboutBannerText-title {
      font-size: 60px;
      line-height: 1.4em;
      color: #fff;
      font-weight: bold;
    }
    .aboutBannerText-text {
      font-size: 24px;
      line-height: 1.6em;
      color: #fff;
      font-weight: 500;
      margin-top: 28px;
    }
  }
}
.aboutList {
  margin-top: 100px;
  .aboutList-list {
    margin: 0 -28px;
    overflow: hidden;
    .aboutList-item {
      padding: 0 28px;
      width: 33.333%;
      float: left;
      .aboutListItem-ico::after {
        width: 113px;
        height: 90px;
        background-size: 113px 90px;
      }
      &:nth-child(1) .aboutListItem-ico::after {
        background-image: url("../../sources/about/about-us/ico_about1.svg");
      }
      &:nth-child(2) .aboutListItem-ico::after {
        background-image: url("../../sources/about/about-us/ico_about2.svg");
      }
      &:nth-child(3) .aboutListItem-ico::after {
        background-image: url("../../sources/about/about-us/ico_about3.svg");
      }

      .aboutListItem-ico {
        width: 113px;
        height: 93px;
        position: relative;
        margin-bottom: 55px;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      .aboutListItem-title {
        font-size: 36px;
        line-height: 1.4em;
        color: #000;
        font-weight: bold;
      }
      .aboutListItem-text {
        font-size: 20px;
        line-height: 1.6em;
        color: #000;
        margin-top: 29px;
      }
    }
  }
}
// 회사 역사 페이지
.pageFrontTitle {
  text-align: center;
  margin-bottom: 150px;
  font-size: 110px;
  line-height: 1.2em;
  color: #000;
  font-weight: bold;
}
.history {
  padding: 60px 0 120px;
  position: relative;
  &::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #000;
  }
  .historyItem {
    margin-top: 130px;
    &:first-child {
      margin-top: 0;
    }
    .historyItemTitle {
      float: left;
      width: 50%;
      padding-left: 380px;
      font-size: 0;
      line-height: 0;
      position: relative;
      &::before {
        content: "";
        width: 162px;
        height: 1px;
        background-color: #000;
        position: absolute;
        top: 50%;
        right: 0;
      }
      &::after {
        content: "";
        width: 13px;
        height: 13px;
        background-image: url("../../sources/about/about-us/ico_radius_history.svg");
        background-size: 13px 13px;
        position: absolute;
        top: 50%;
        right: -6px;
        transform: translateY(-50%);
        z-index: 5;
      }
      .historyItemTitle-title {
        font-size: 80px;
        line-height: 1.2em;
        color: #000;
        font-weight: bold;
        display: inline-block;
        position: relative;
        background-color: #fff;
      }
    }
    .historyItemCont {
      overflow: hidden;
      padding-left: 50px;
      .historyItemCont-list {
        padding-top: 34px;
        .historyItemCont-item {
          margin-top: 10px;
          &:first-child {
            margin-top: 0;
          }
          .historyItemContText {
            &::after {
              content: "";
              display: table;
              clear: both;
            }
            .historyItemConText-year {
              float: left;
              margin-right: 13px;
              font-size: 20px;
              line-height: 1.4em;
              color: #000;
              font-weight: bold;
            }
            .historyItemContText-text {
              overflow: hidden;
              font-size: 18px;
              line-height: 1.6em;
              color: #000;
            }
          }
        }
      }
    }
  }
}

// 자료실 페이지
.newsPost {
  margin-top: 65px;
  .newsPost-item {
    border-top: 1px solid #e0e0e0;
    &:first-child {
      border-top: none;
    }
    .newsPost-noPost {
      text-align: center;
      font-size: 32px;
      line-height: 1.4em;
      color: #000;
      font-weight: 500;
      padding: 40px 0;
    }
  }
}
.listPaging {
  margin-top: 100px;
  text-align: center;
  .listPaging-list {
    display: inline-block;
    margin: 0 -20px;
    .listPaging-item {
      display: inline-block;
      padding: 0 20px;
      &:first-child {
        padding: 0;
        padding-right: 70px;
        .listPrevButton-link {
          display: block;
          position: relative;
          padding-left: 40px;
          color: #000;
          font-size: 20px;
          font-family: "Pretendard";
          font-weight: 500;
          line-height: 1.4em;
          &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-image: url("../../sources/download/ico-SinglePagingPrev-b.svg");
            background-size: 30px 30px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }
      }
      &:last-child {
        padding: 0;
        padding-left: 70px;
        .listNextButton-link {
          display: block;
          position: relative;
          padding-right: 40px;
          color: #000;
          font-size: 20px;
          font-family: "Pretendard";
          font-weight: 500;
          line-height: 1.4em;
          &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-image: url("../../sources/download/ico-SinglePagingNext-b.svg");
            background-size: 30px 30px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
      .listPaging-text {
        display: block;
        position: relative;
        color: #000;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4em;
      }
    }
    .listPaging-item.is-Current {
      .listPaging-text {
        color: #fff;
        &::after {
          content: "";
          display: block;
          width: 30px;
          height: 30px;
          background-color: #000;
          border-radius: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
        }
      }
    }
  }
}

.pageTopBanner {
  height: 430px;
  position: relative;
  margin-bottom: 100px;
  .pageTopBannerBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 0;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }
    .pageTopBannerBg-img {
      display: block;
      position: absolute;
      top: 0%;
      left: 0;
      right: 0;
      height: 150%;
      background-size: cover;
      background-position: center center;
    }
  }
  .pageTopBannerText {
    position: absolute;
    bottom: 80px;
    left: 80px;
    width: 70%;
    z-index: 5;
    .pageTopBannerText-title {
      font-size: 60px;
      line-height: 1.2em;
      color: #fff;
      font-weight: bold;
    }
    .pageTopBannerText-text {
      font-size: 24px;
      line-height: 1.5em;
      color: #fff;
      font-weight: 500;
      margin-top: 25px;
    }
  }
}
.pageTable-tbl {
  width: 100%;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  th,
  td {
    vertical-align: middle;
    text-align: center;
  }
  thead th {
    border-bottom: solid 3px #000000;
    border-left: solid 1px #000;
    font-size: 23px;
    line-height: 1.4em;
    color: #000;
    font-weight: bold;
    padding: 21px 10px;
    &:first-child {
      border-left: none;
    }
  }
  tbody tr {
    &:first-child {
      border-top: none;
    }
  }
  tbody th,
  tbody td {
    font-size: 20px;
    line-height: 1.4em;
    color: #000;
    padding: 21px 10px;
    font-weight: normal;
    border-top: 1px solid #000;
  }
  tbody td {
    border-left: 1px solid #000;
  }
}

.smallSection {
  max-width: 778px;
  margin: 0 auto;

  .imgBox {
    line-height: 0;
    text-align: center;
    .supply-img {
      display: block;
      margin: 0 auto;
      width: 432px;
    }
  }
}

.organization {
  margin-bottom: 110px;
  .organization-item.Depth1 {
    padding-bottom: 74px;
    position: relative;
    text-align: center;
    overflow: hidden;
  }
  .organizationDepth1-title {
    display: inline-block;
    font-size: 28px;
    line-height: 1.4em;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 360px;
    padding: 20px 20px;
    background-color: #000;
    position: relative;
    &::after {
      content: "";
      width: 1px;
      height: 100px;
      border-left: 1px dashed #000;
      position: absolute;
      bottom: -100px;
      left: 50%;
    }
  }
  .organization-row {
    overflow: hidden;
    padding-top: 55px;
    margin: 0 -39px;
    .organization-item {
      float: left;
      padding: 0 39px;
    }
  }
  .col-33 .organization-item {
    width: 33.333%;
  }
  .col-50 .organization-item {
    width: 50%;
  }
  .organizationDepth2-title {
    display: block;
    font-size: 24px;
    line-height: 1.4em;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 18px 20px;
    border: solid 1px #000;
    position: relative;
    &::before {
      content: "";
      width: calc(100% + 80px);
      height: 1px;
      border-top: dashed 1px #000000;
      position: absolute;
      top: -55px;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      width: 1px;
      height: 100px;
      border-left: dashed 1px #000;
      position: absolute;
      top: -100px;
      left: 50%;
    }
  }

  .organization-item:first-child .organizationDepth2-title::before {
    width: calc(50% + 40px);
    transform: translateX(0%);
  }
  .organization-item:last-child .organizationDepth2-title::before {
    width: calc(50% + 40px);
    left: auto;
    right: 50%;
    transform: translateX(0%);
  }

  .organizationDepth2-sub {
    margin-top: 48px;
    font-size: 20px;
    line-height: 1.4em;
    color: #000;
    font-weight: bold;
  }
  .organization-list {
    margin-top: 13px;
    .organization-text {
      position: relative;
      font-size: 20px;
      line-height: 1.5em;
      color: #000;
      padding-left: 13px;
      margin-top: 18px;
      &:first-child {
        margin-top: 0;
      }
      &::before {
        content: "";
        width: 2px;
        height: 2px;
        position: absolute;
        top: 12px;
        left: 0;
        background-color: #000;
      }
    }
  }
  .organization-thumb {
    margin: auto;
    line-height: 0;
    margin-top: 19px;
    width: 60%;
  }
}
.mixedSec {
  display: flex;
  .mixedSecTitle {
    width: 361px;
    .mixedSecTitle-title {
      font-size: 40px;
      line-height: 1.4em;
      font-weight: bold;
    }
  }
  .mixedSecText {
    width: calc(100% - 361px);
    padding-left: 120px;
    .mixedItemCont-text {
      display: block;
      color: #000;
      font-size: 20px;
      line-height: 1.6em;
    }
    .mixedItemCont-text.big-size {
      font-size: 24px;
    }
    .mixedItemTitle {
      margin-bottom: 18px;
      .mixedItemTitle-title {
        display: block;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.5em;
      }
    }
    .mixedItemCont-text {
      display: block;
      font-size: 20px;
      line-height: 1.6em;
    }
  }
}

// 메뉴제안 & 시연회
.mediumSection {
  max-width: 1200px;
  margin: 0 auto;
}

.solutionService {
  position: relative;
  border: 1px solid #e5e5e5;
  .solutionService-inner {
    padding: 85px 106px;
    .solutionServiceImg {
      width: 37.5%;
      margin: 0 auto;
      line-height: 0;
    }
    .solutionServiceCont {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .solutionServiceCont-title {
        display: none;
      }
      .solutionServiceCont-item {
        position: absolute;
        min-height: 167px;
        &:first-child {
          top: 85px;
          left: 106px;
        }
        &:nth-child(2) {
          top: 85px;
          right: 106px;
        }
        &:nth-child(3) {
          bottom: 85px;
          left: 106px;
        }
        &:last-child {
          bottom: 85px;
          right: 106px;
        }
        .solutionItem {
          height: 100%;
          .solutionItem-tit {
            display: block;
            color: #000;
            font-size: 28px;
            font-weight: bold;
            line-height: 1.4em;
          }
          .solutionItem-cont {
            margin-top: 10px;
            .solutionItem-txt {
              display: block;
              position: relative;
              margin-top: 10px;
              padding-left: 12px;
              color: #000;
              font-size: 20px;
              line-height: 1.4em;
              &::before {
                content: "·";
                display: block;
                color: #000;
                font-size: 20px;
                line-height: 1.2em;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}

.solutionProcess {
  .solutionProcessHeader {
    margin-bottom: 100px;
    .solutionProcessHeader-tit {
      display: block;
      color: #000;
      font-size: 60px;
      font-weight: bold;
      line-height: 1.4em;
    }
    .solutionProcessHeader-txt {
      display: block;
      margin-top: 10px;
      color: #000;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.4em;
    }
  }
  .solutionProcessContStep-list::after {
    content: "";
    display: block;
    clear: both;
  }
  .solutionProcessContStep-item {
    overflow: hidden;
    float: left;
    width: 14.28%;
    padding-right: 40px;
    .solutionItem {
      height: 100%;
      .solutionItemStep {
        display: block;
        width: 75px;
        height: 75px;
        position: relative;
        background-color: #000;
        border-radius: 100%;
        &::after {
          content: "";
          display: block;
          width: 300px;
          height: 1px;
          background-color: #000;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
        .solutionItemStep-inner {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
          text-align: center;
          .solutionItemStep-txt {
            display: block;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.2em;
            text-transform: uppercase;
          }
          .solutionItemStep-num {
            display: block;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2em;
          }
        }
      }
      .solutionItemCont {
        margin-top: 40px;
        .solutionItemCont-tit {
          display: block;
          margin-bottom: 18px;
          color: #000;
          font-size: 22px;
          font-weight: bold;
          line-height: 1.2em;
        }
        .solutionItemCont-txt {
          display: block;
          color: #000;
          font-size: 18px;
          line-height: 1.6em;
        }
      }
    }
    &:last-child {
      .solutionItemStep::after {
        display: none;
      }
    }
  }
}

.pageSubTab {
  margin-top: 140px;
  margin-bottom: 100px;
  text-align: center;
  .pageSubTab-list {
    font-size: 0;
    line-height: 0;
    .pageSubTab-item {
      display: inline-block;
      max-width: 33.3333%;
      width: 300px;
      .pageSubTab-link {
        font-size: 20px;
        line-height: 1.4em;
        color: #000;
        display: block;
        padding: 16px 20px;
        border: solid 1px #000;
        margin-left: -1px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: solid 2px #000;
          opacity: 0;
        }
      }
    }
    .is-Current .pageSubTab-link {
      font-weight: bold;
      z-index: 5;
      &::after {
        opacity: 1;
      }
    }
  }
}
.pageSubTabContSec {
  display: none;
}

.processAtc {
  .processAtc-title {
    text-align: center;
    font-size: 40px;
    line-height: 1.4em;
    color: #000;
    font-weight: bold;
    margin-bottom: 100px;
  }
  .processAtcList {
    margin-bottom: 100px;
    overflow: hidden;
    max-width: 1222px;
    margin-left: auto;
    margin-right: auto;
    .processAtcList-list {
      margin: -25px -40px;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      .processAtcList-item {
        width: 20%;
        display: inline-block;
        vertical-align: top;
        padding: 25px 40px;
        position: relative;
        .processListItem {
          border-top: solid 3px #000;
          border-bottom: solid 1px #000;
          padding: 30px 0 35px;
          text-align: left;
          .processListItem-step {
            font-size: 18px;
            line-height: 1.2em;
            color: #000;
            font-weight: bold;
            margin-bottom: 8px;
          }
          .processListItem-text {
            font-size: 24px;
            line-height: 1.4em;
            color: #000;
            font-weight: 500;
          }
        }
        &::after {
          content: "";
          width: 10px;
          height: 20px;
          background-image: url("../../sources/service/totalSolution/ico_process_arrow.svg");
          background-size: 10px 20px;
          position: absolute;
          top: 50%;
          right: -5px;
          transform: translateY(-50%);
        }

        &:nth-child(5),
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .processOrg {
    .organization-text {
      margin-top: 5px;
    }
    .organization-list.it-Height {
      min-height: 156px;
    }
  }
}
