@media screen and (min-width: 768px) {
  .categoryTab {
    margin-bottom: 80px;
    border-top: solid 1px #000000;
    text-align: center;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
  }
  .categoryTab-item {
    display: inline-block;
  }
  .is-Current .categoryTab-link {
    font-weight: bold;
  }
  .categoryTab-link {
    display: block;
    font-size: 24px;
    line-height: 1.4em;
    color: #000;
    font-weight: 500;
    padding: 34px 28px 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #000;
      opacity: 0;
    }
  }
  .is-Current .categoryTab-link::after {
    opacity: 1;
  }
}

@media screen and (max-width: 1920px) and (min-width: 1025px) {
  .pageHeaderTitle {
    margin-bottom: 4.43vw;
    .pageHeaderTitle-parent {
      font-size: 1.88vw;
      margin-bottom: 0.94vw;
    }
    .pageHeaderTitle-title {
      font-size: 3.65vw;
    }
  }
  .siteCont {
    .onlyBanner {
      margin-bottom: 5.21vw;
      height: 25vw;
    }
    .bgTitleLogo {
      height: 10.68vw;
      margin-bottom: 5.73vw;
      .bgTitleLogo-img {
        width: 65.63vw;
      }
    }
    .brandHeader {
      margin-bottom: 5.73vw;
      .brandHeader-title {
        font-size: 3.13vw;
        margin-bottom: 3.54vw;
      }
      .brandHeader-sub {
        font-size: 2.08vw;
        margin-bottom: 1.46vw;
      }
      .brandHeader-text {
        font-size: 1.25vw;
      }
    }
    .brandLogoPostThumb {
      width: 40.94vw;
    }
    .brandLogoPostCont {
      padding-left: 3.13vw;
      .brandLogoPostCont-title {
        font-size: 2.08vw;
      }
      .brandLogoPostCont-text {
        margin-top: 1.56vw;
        font-size: 1.04vw;
      }
    }
  }
  .pageTopBanner {
    height: 22.4vw;
    margin-bottom: 5.21vw;
    .pageTopBannerText {
      bottom: 4.17vw;
      left: 4.17vw;
      .pageTopBannerText-title {
        font-size: 3.13vw;
      }
      .pageTopBannerText-text {
        font-size: 1.25vw;
        margin-top: 1.3vw;
      }
    }
  }
  .pageTable-tbl {
    thead th {
      font-size: 1.2vw;
      padding: 1.09vw 0.52vw;
    }
    tbody th,
    tbody td {
      font-size: 1.04vw;
      padding: 1.09vw 0.52vw;
    }
  }
  .newsPost {
    margin-top: 3.39vw;
    .newsPost-item {
      .newsPost-noPost {
        font-size: 1.67vw;
        padding: 2.08vw 0;
      }
    }
  }
  .listPaging {
    margin-top: 5.21vw;
    .listPaging-list {
      margin: 0 -1.04vw;
      .listPaging-item {
        padding: 0 1.04vw;
        &:first-child {
          padding-right: 3.65vw;
          .listPrevButton-link {
            padding-left: 2.08vw;
            font-size: 1.04vw;
            &::before {
              width: 1.56vw;
              height: 1.56vw;
              background-size: 1.56vw 1.56vw;
            }
          }
        }
        &:last-child {
          padding-left: 3.65vw;
          .listNextButton-link {
            padding-right: 2.08vw;
            font-size: 1.04vw;
            &::before {
              width: 1.56vw;
              height: 1.56vw;
              background-size: 1.56vw 1.56vw;
            }
          }
        }
      }
      .listPaging-text {
        font-size: 1.04vw;
      }
    }
    .listPaging-item.is-Current {
      .listPaging-text {
        &::after {
          width: 1.5625vw;
          height: 1.5625vw;
        }
      }
    }
  }

  // 회사 소개 페이지
  .categoryTab {
    margin-bottom: 4.17vw;
    .categoryTab-link {
      font-size: 1.25vw;
      padding: 1.77vw 1.46vw 0;
    }
  }
  .aboutImgLogo {
    margin-bottom: 1.67vw;
    .aboutImgLogo-img {
      width: 28.18vw;
    }
  }
  .aboutBigTitle {
    font-size: 3.13vw;
    margin-bottom: 12.5vw;
  }
  .aboutBanner {
    height: 33.33vw;
    .aboutBannerText {
      bottom: 5.21vw;
      .aboutBannerText-title {
        font-size: 3.13vw;
      }
      .aboutBannerText-text {
        font-size: 1.25vw;
        margin-top: 1.46vw;
      }
    }
  }
  .aboutList {
    margin-top: 5.21vw;
    .aboutList-list {
      margin: 0 -1.46vw;
      .aboutList-item {
        padding: 0 1.46vw;
        .aboutListItem-ico::after {
          width: 5.89vw;
          height: 4.69vw;
          background-size: 5.89vw 4.69vw;
        }
        .aboutListItem-ico {
          width: 5.89vw;
          height: 4.84vw;
          margin-bottom: 2.86vw;
        }

        .aboutListItem-title {
          font-size: 1.88vw;
        }
        .aboutListItem-text {
          font-size: 1.04vw;
          margin-top: 1.51vw;
        }
      }
    }
  }
  // 회사 역사 페이지
  .pageFrontTitle {
    margin-bottom: 7.81vw;
    font-size: 5.73vw;
  }
  .history {
    padding: 3.13vw 0 6.25vw;
    .historyItem {
      margin-top: 6.77vw;
      .historyItemTitle {
        padding-left: 19.79vw;
        &::before {
          width: 8.44vw;
        }
        &::after {
          width: 0.68vw;
          height: 0.68vw;
          background-size: 0.68vw 0.68vw;
          right: -0.31vw;
        }
        .historyItemTitle-title {
          font-size: 4.17vw;
        }
      }
      .historyItemCont {
        padding-left: 2.6vw;
        .historyItemCont-list {
          padding-top: 1.77vw;
          .historyItemCont-item {
            margin-top: 0.52vw;
            .historyItemContText {
              .historyItemConText-year {
                margin-right: 0.68vw;
                font-size: 1.04vw;
              }
              .historyItemContText-text {
                font-size: 0.94vw;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .pageHeaderTitle {
    margin-bottom: 5.17vw;
    .pageHeaderTitle-parent {
      font-size: 3.52vw;
      margin-bottom: 1.76vw;
    }
    .pageHeaderTitle-title {
      font-size: 5.95vw;
    }
  }
  .siteCont {
    .onlyBanner {
      margin-bottom: 8.21vw;
      height: 25vw;
    }
    .bgTitleLogo {
      height: 10.68vw;
      margin-bottom: 8.73vw;
      .bgTitleLogo-img {
        width: 65.63vw;
      }
    }
    .brandHeader {
      margin-bottom: 8.73vw;
      .brandHeader-title {
        font-size: 4.43vw;
        margin-bottom: 4.94vw;
      }
      .brandHeader-sub {
        font-size: 3.43vw;
        margin-bottom: 2.5vw;
      }
      .brandHeader-text {
        font-size: 2.05vw;
      }
    }
    .brandLogoPostThumb {
      width: 40.94vw;
    }
    .brandLogoPostCont {
      padding-left: 4.13vw;
      .brandLogoPostCont-title {
        font-size: 3.43vw;
      }
      .brandLogoPostCont-text {
        margin-top: 1.56vw;
        font-size: 1.8vw;
      }
    }
  }

  .pageTopBanner {
    height: 27.4vw;
    margin-bottom: 6.51vw;
    .pageTopBannerText {
      bottom: 4.17vw;
      left: 4.17vw;
      .pageTopBannerText-title {
        font-size: 4.43vw;
      }
      .pageTopBannerText-text {
        font-size: 1.72vw;
        margin-top: 1.3vw;
      }
    }
  }
  .pageTable-tbl {
    thead th {
      font-size: 1.8vw;
      padding: 1.59vw 0.52vw;
      border-bottom: solid 2px #000000;
    }
    tbody th,
    tbody td {
      font-size: 1.46vw;
      padding: 1.59vw 0.52vw;
    }
  }

  .newsPost {
    margin-top: 6.35vw;
    .newsPost-item {
      .newsPost-noPost {
        font-size: 2.67vw;
        padding: 2.55vw 0;
      }
    }
  }
  .listPaging {
    margin-top: 9.77vw;
    .listPaging-list {
      margin: 0 -1.95vw;
      .listPaging-item {
        padding: 0 1.95vw;
        &:first-child {
          padding-right: 6.84vw;
          .listPrevButton-link {
            padding-left: 3.91vw;
            font-size: 1.95vw;
            &::before {
              width: 2.93vw;
              height: 2.93vw;
              background-size: 2.93vw 2.93vw;
            }
          }
        }
        &:last-child {
          padding-left: 6.84vw;
          .listNextButton-link {
            padding-right: 3.91vw;
            font-size: 1.95vw;
            &::before {
              width: 2.93vw;
              height: 2.93vw;
              background-size: 2.93vw 2.93vw;
            }
          }
        }
      }
      .listPaging-text {
        font-size: 1.95vw;
      }
    }
    .listPaging-item.is-Current {
      .listPaging-text {
        &::after {
          width: 2.93vw;
          height: 2.93vw;
        }
      }
    }
  }
  // 회사 소개 페이지
  .categoryTab {
    margin-bottom: 6.17vw;
    .categoryTab-link {
      font-size: 2.2vw;
      padding: 2.47vw 1.86vw 0;
    }
  }
  .aboutImgLogo {
    margin-bottom: 2.67vw;
    .aboutImgLogo-img {
      width: 34.18vw;
    }
  }
  .aboutBigTitle {
    font-size: 4.43vw;
    margin-bottom: 13.5vw;
  }
  .aboutBanner {
    height: 35.33vw;
    .aboutBannerText {
      bottom: 5.21vw;
      .aboutBannerText-title {
        font-size: 4.13vw;
      }
      .aboutBannerText-text {
        font-size: 1.5vw;
        margin-top: 1.58vw;
      }
    }
  }
  .aboutList {
    margin-top: 7.21vw;
    .aboutList-list {
      margin: 0 -1.46vw;
      .aboutList-item {
        padding: 0 1.46vw;
        .aboutListItem-ico::after {
          width: 5.89vw;
          height: 4.69vw;
          background-size: 5.89vw 4.69vw;
        }
        .aboutListItem-ico {
          width: 5.89vw;
          height: 4.84vw;
          margin-bottom: 2.86vw;
        }
        .aboutListItem-title {
          font-size: 2.29vw;
        }
        .aboutListItem-text {
          font-size: 1.52vw;
          margin-top: 1.51vw;
        }
      }
    }
  }
  // 회사 역사 페이지
  .pageFrontTitle {
    margin-bottom: 9.81vw;
    font-size: 8.73vw;
  }
  .history {
    padding: 4.13vw 0 7.25vw;
    .historyItem {
      margin-top: 8.77vw;
      .historyItemTitle {
        padding-left: 19.79vw;
        &::before {
          width: 8.44vw;
        }
        &::after {
          width: 1vw;
          height: 1vw;
          background-size: 1vw 1vw;
          right: -0.5vw;
        }
        .historyItemTitle-title {
          font-size: 4.67vw;
        }
      }
      .historyItemCont {
        padding-left: 2.6vw;
        .historyItemCont-list {
          padding-top: 1.77vw;
          .historyItemCont-item {
            margin-top: 1.21vw;
            .historyItemContText {
              .historyItemConText-year {
                margin-right: 1.2vw;
                font-size: 1.55vw;
              }
              .historyItemContText-text {
                font-size: 1.39vw;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 1px) {
  .pageHeaderTitle {
    margin-bottom: 8.17vw;
    .pageHeaderTitle-parent {
      font-size: 6.69vw;
      margin-bottom: 2.09vw;
    }
    .pageHeaderTitle-title {
      font-size: 9.95vw;
    }
  }
  .siteCont {
    .onlyBanner {
      margin-bottom: 12.21vw;
      height: 30vw;
    }
    .bgTitleLogo {
      height: 12.68vw;
      margin-bottom: 12.73vw;
      .bgTitleLogo-img {
        width: 75.63vw;
      }
    }
    .brandHeader {
      margin-bottom: 16.73vw;
      .brandHeader-title {
        font-size: 7.29vw;
        margin-bottom: 8.94vw;
      }
      .brandHeader-sub {
        font-size: 5.93vw;
        margin-bottom: 4.5vw;
      }
      .brandHeader-text {
        font-size: 4.05vw;
      }
    }
    .brandLogoPostThumb {
      display: block;
      width: 100%;
      margin-bottom: 7vw;
    }
    .brandLogoPostCont {
      padding-left: 0;
      display: block;
      .brandLogoPostCont-title {
        font-size: 5.93vw;
      }
      .brandLogoPostCont-text {
        margin-top: 3.06vw;
        font-size: 3.85vw;
      }
    }
  }
  .pageTopBanner {
    height: 52vw;
    margin-bottom: 18.51vw;
    margin-left: -6.25vw;
    margin-right: -6.25vw;
    .pageTopBannerText {
      bottom: 6.25vw;
      left: 6.25vw;
      width: auto;
      right: 6.25vw;
      .pageTopBannerText-title {
        font-size: 7.29vw;
      }
      .pageTopBannerText-text {
        font-size: 3.72vw;
        margin-top: 2.7vw;
      }
    }
  }
  .pageTable-tbl {
    thead th {
      font-size: 3.9vw;
      padding: 3.59vw 1.52vw;
      border-bottom: solid 2px #000000;
    }
    tbody th,
    tbody td {
      font-size: 3.57vw;
      padding: 3.59vw 1.52vw;
    }
  }

  .newsPost {
    margin-top: 13.83vw;
    .newsPost-item {
      .newsPost-noPost {
        font-size: 5.67vw;
        padding: 2.55vw 0;
      }
    }
  }
  .listPaging {
    margin-top: 13.43vw;
    .listPaging-list {
      margin: -1.25vw -4.25vw;
      .listPaging-item {
        padding: 1.95vw 4.25vw;
        &:first-child {
          padding-right: 1.25vw;
          .listPrevButton-link {
            padding-left: 6.25vw;
            font-size: 4vw;
            &::before {
              width: 5vw;
              height: 5vw;
              background-size: 5vw 5vw;
            }
          }
        }
        &:last-child {
          padding-left: 1.25vw;
          .listNextButton-link {
            padding-right: 6.25vw;
            font-size: 4vw;
            &::before {
              width: 5vw;
              height: 5vw;
              background-size: 5vw 5vw;
            }
          }
        }
        .listPaging-text {
          font-size: 4vw;
        }
      }
      .listPaging-item.is-Current {
        .listPaging-text {
          &::after {
            width: 6.375vw;
            height: 6.375vw;
          }
        }
      }
    }
  }
  // 회사 소개 페이지
  .categoryTab {
    margin-bottom: 11.17vw;
    position: relative;
    .categoryTab-select {
      display: block;
    }
    .categoryTab-list {
      position: absolute;
      left: 0;
      right: 0;
      border: solid 2px #000;
      padding: 3.38125vw 5vw;
      margin-top: 2vw;
      z-index: 5;
      background-color: #fff;
      display: none;
    }

    .is-Open .categoryTab-list {
      display: block;
    }
    .categoryTab-item {
      margin-top: 2vw;
      .categoryTab-link {
        font-size: 4.2vw;
        line-height: 1.4em;
        color: #000;
        display: block;
      }
    }
  }
  .aboutImgLogo {
    margin-bottom: 4.67vw;
    .aboutImgLogo-img {
      width: 55.18vw;
    }
  }
  .aboutBigTitle {
    font-size: 7.29vw;
    margin-bottom: 17.5vw;
  }
  .aboutBanner {
    height: 90.33vw;
    .aboutBannerText {
      bottom: 7.21vw;
      .aboutBannerText-title {
        font-size: 7.47vw;
      }
      .aboutBannerText-text {
        font-size: 3.6vw;
        margin-top: 2.58vw;
      }
    }
  }
  .aboutList {
    margin-top: 13.21vw;
    .aboutList-list {
      margin: 0 -1.46vw;
      .aboutList-item {
        padding: 0 1.46vw;
        width: 100%;
        float: none;
        margin-top: 10vw;
        &:first-child {
          margin-top: 0;
        }
        .aboutListItem-ico::after {
          width: 11.69vw;
          height: 9.29vw;
          background-size: 11.69vw 9.29vw;
        }
        .aboutListItem-ico {
          width: 11.69vw;
          height: 9.64vw;
          margin-bottom: 3.86vw;
        }
        .aboutListItem-title {
          font-size: 5.4vw;
        }
        .aboutListItem-text {
          font-size: 3.72vw;
          margin-top: 3.15vw;
        }
      }
    }
  }
  // 회사 역사 페이지
  .pageFrontTitle {
    margin-bottom: 12.81vw;
    font-size: 13.73vw;
  }
  .history {
    padding: 8.13vw 0 11.25vw;
    padding-left: 7vw;
    &::before {
      left: 0;
    }
    .historyItem {
      margin-top: 18.77vw;
      .historyItemTitle {
        padding-left: 0;
        width: 100%;
        float: none;
        &::before {
          width: 5vw;
          right: auto;
          left: -7vw;
          margin-top: -1px;
        }
        &::after {
          width: 3vw;
          height: 3vw;
          background-size: 3vw 3vw;
          right: auto;
          left: -8.5vw;
        }
        .historyItemTitle-title {
          font-size: 9.87vw;
        }
      }
      .historyItemCont {
        padding-left: 0;
        .historyItemCont-list {
          padding-top: 4.77vw;
          .historyItemCont-item {
            margin-top: 2.51vw;
            .historyItemContText {
              .historyItemConText-year {
                margin-right: 3.2vw;
                font-size: 4.3vw;
              }
              .historyItemContText-text {
                font-size: 3.69vw;
              }
            }
          }
        }
      }
    }
  }
}
