.pageHeaderTitle {
  text-align: center;
  margin-bottom: 85px;
}
.pageHeaderTitle .pageHeaderTitle-parent {
  font-size: 36px;
  line-height: 1.2em;
  margin-bottom: 18px;
  font-weight: bold;
}
.pageHeaderTitle .pageHeaderTitle-title {
  font-size: 70px;
  line-height: 1.1em;
  color: #000;
  font-weight: bold;
}

.siteCont .onlyBanner {
  margin-bottom: 100px;
  position: relative;
  height: 480px;
}
.siteCont .onlyBanner .onlyBannerBg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  overflow: hidden;
}
.siteCont .onlyBanner .onlyBannerBg .onlyBannerBg-img {
  display: block;
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  height: 150%;
  background-size: cover;
  background-position: center centers;
}
.siteCont .bgTitleLogo {
  text-align: right;
  font-size: 0;
  line-height: 0;
  height: 205px;
  position: relative;
  margin-bottom: 110px;
}
.siteCont .bgTitleLogo .bgTitleLogo-inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.siteCont .bgTitleLogo .bgTitleLogo-img {
  display: block;
  float: right;
  width: 1260px;
}
.siteCont .brandHeader {
  margin-bottom: 110px;
}
.siteCont .brandHeader .brandHeader-title {
  font-size: 60px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  margin-bottom: 68px;
}
.siteCont .brandHeader .brandHeader-sub {
  font-size: 40px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
  margin-bottom: 28px;
}
.siteCont .brandHeader .brandHeader-text {
  font-size: 24px;
  line-height: 1.6em;
  color: #000;
}
.siteCont .brandLogoPost {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.siteCont .brandLogoPostThumb {
  display: table-cell;
  vertical-align: top;
  line-height: 0;
  width: 786px;
}
.siteCont .brandLogoPostCont {
  display: table-cell;
  vertical-align: middle;
  padding-left: 60px;
}
.siteCont .brandLogoPostCont .brandLogoPostCont-title {
  font-size: 40px;
  line-height: 1.4em;
  color: #000;
  font-weight: bold;
}
.siteCont .brandLogoPostCont .brandLogoPostCont-text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.7em;
}

.a-OpacityTop {
  transform: translateY(50px);
  opacity: 0;
  transition: transform, opacity, 0.8s;
}

.a-OpacityTop.is-OpacityTop {
  transform: translateY(0);
  opacity: 1;
}

.newsPost {
  margin-top: 65px;
}
.newsPost .newsPost-item {
  border-top: 1px solid #e0e0e0;
}
.newsPost .newsPost-item:first-child {
  border-top: none;
}
.newsPost .newsPost-item .newsPost-noPost {
  text-align: center;
  font-size: 32px;
  line-height: 1.4em;
  color: #000;
  font-weight: 500;
  padding: 40px 0;
}

.listPaging {
  margin-top: 100px;
  text-align: center;
}
.listPaging .listPaging-list {
  display: inline-block;
  margin: 0 -20px;
}
.listPaging .listPaging-list .listPaging-item {
  display: inline-block;
  padding: 0 20px;
}
.listPaging .listPaging-list .listPaging-item:first-child {
  padding: 0;
  padding-right: 70px;
}
.listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link {
  display: block;
  position: relative;
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  font-family: "Pretendard";
  font-weight: 500;
  line-height: 1.4em;
}
.listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../sources/download/ico-SinglePagingPrev-b.svg");
  background-size: 30px 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.listPaging .listPaging-list .listPaging-item:last-child {
  padding: 0;
  padding-left: 70px;
}
.listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link {
  display: block;
  position: relative;
  padding-right: 40px;
  color: #000;
  font-size: 20px;
  font-family: "Pretendard";
  font-weight: 500;
  line-height: 1.4em;
}
.listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../sources/download/ico-SinglePagingNext-b.svg");
  background-size: 30px 30px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.listPaging .listPaging-list .listPaging-item .listPaging-text {
  display: block;
  position: relative;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4em;
}
.listPaging .listPaging-list .listPaging-item.is-Current .listPaging-text {
  color: #fff;
}
.listPaging .listPaging-list .listPaging-item.is-Current .listPaging-text::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}/*# sourceMappingURL=page.css.map */