@media screen and (max-width: 1920px) and (min-width: 1025px) {
  .pageHeaderTitle {
    margin-bottom: 4.43vw;
  }
  .pageHeaderTitle .pageHeaderTitle-parent {
    font-size: 1.88vw;
    margin-bottom: 0.94vw;
  }
  .pageHeaderTitle .pageHeaderTitle-title {
    font-size: 3.65vw;
  }
  .siteCont .onlyBanner {
    margin-bottom: 5.21vw;
    height: 25vw;
  }
  .siteCont .bgTitleLogo {
    height: 10.68vw;
    margin-bottom: 5.73vw;
  }
  .siteCont .bgTitleLogo .bgTitleLogo-img {
    width: 65.63vw;
  }
  .siteCont .brandHeader {
    margin-bottom: 5.73vw;
  }
  .siteCont .brandHeader .brandHeader-title {
    font-size: 3.13vw;
    margin-bottom: 3.54vw;
  }
  .siteCont .brandHeader .brandHeader-sub {
    font-size: 2.08vw;
    margin-bottom: 1.46vw;
  }
  .siteCont .brandHeader .brandHeader-text {
    font-size: 1.25vw;
  }
  .siteCont .brandLogoPostThumb {
    width: 40.94vw;
  }
  .siteCont .brandLogoPostCont {
    padding-left: 3.13vw;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-title {
    font-size: 2.08vw;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-text {
    margin-top: 1.56vw;
    font-size: 1.04vw;
  }
  .pageTopBanner {
    height: 22.4vw;
    margin-bottom: 5.21vw;
  }
  .pageTopBanner .pageTopBannerText {
    bottom: 4.17vw;
    left: 4.17vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-title {
    font-size: 3.13vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-text {
    font-size: 1.25vw;
    margin-top: 1.3vw;
  }
  .pageTable-tbl thead th {
    font-size: 1.2vw;
    padding: 1.09vw 0.52vw;
  }
  .pageTable-tbl tbody th,
.pageTable-tbl tbody td {
    font-size: 1.04vw;
    padding: 1.09vw 0.52vw;
  }
  .newsPost {
    margin-top: 3.39vw;
  }
  .newsPost .newsPost-item .newsPost-noPost {
    font-size: 1.67vw;
    padding: 2.08vw 0;
  }
  .listPaging {
    margin-top: 5.21vw;
  }
  .listPaging .listPaging-list {
    margin: 0 -1.04vw;
  }
  .listPaging .listPaging-list .listPaging-item {
    padding: 0 1.04vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child {
    padding-right: 3.65vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link {
    padding-left: 2.08vw;
    font-size: 1.04vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link::before {
    width: 1.56vw;
    height: 1.56vw;
    background-size: 1.56vw 1.56vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child {
    padding-left: 3.65vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link {
    padding-right: 2.08vw;
    font-size: 1.04vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link::before {
    width: 1.56vw;
    height: 1.56vw;
    background-size: 1.56vw 1.56vw;
  }
  .listPaging .listPaging-list .listPaging-text {
    font-size: 1.04vw;
  }
  .listPaging .listPaging-item.is-Current .listPaging-text::after {
    width: 1.5625vw;
    height: 1.5625vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .pageHeaderTitle {
    margin-bottom: 5.17vw;
  }
  .pageHeaderTitle .pageHeaderTitle-parent {
    font-size: 3.52vw;
    margin-bottom: 1.76vw;
  }
  .pageHeaderTitle .pageHeaderTitle-title {
    font-size: 5.95vw;
  }
  .siteCont .onlyBanner {
    margin-bottom: 8.21vw;
    height: 25vw;
  }
  .siteCont .bgTitleLogo {
    height: 10.68vw;
    margin-bottom: 8.73vw;
  }
  .siteCont .bgTitleLogo .bgTitleLogo-img {
    width: 65.63vw;
  }
  .siteCont .brandHeader {
    margin-bottom: 8.73vw;
  }
  .siteCont .brandHeader .brandHeader-title {
    font-size: 4.43vw;
    margin-bottom: 4.94vw;
  }
  .siteCont .brandHeader .brandHeader-sub {
    font-size: 3.43vw;
    margin-bottom: 2.5vw;
  }
  .siteCont .brandHeader .brandHeader-text {
    font-size: 2.05vw;
  }
  .siteCont .brandLogoPostThumb {
    width: 40.94vw;
  }
  .siteCont .brandLogoPostCont {
    padding-left: 4.13vw;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-title {
    font-size: 3.43vw;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-text {
    margin-top: 1.56vw;
    font-size: 1.8vw;
  }
  .pageTopBanner {
    height: 27.4vw;
    margin-bottom: 6.51vw;
  }
  .pageTopBanner .pageTopBannerText {
    bottom: 4.17vw;
    left: 4.17vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-title {
    font-size: 4.43vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-text {
    font-size: 1.72vw;
    margin-top: 1.3vw;
  }
  .pageTable-tbl thead th {
    font-size: 1.8vw;
    padding: 1.59vw 0.52vw;
    border-bottom: solid 2px #000000;
  }
  .pageTable-tbl tbody th,
.pageTable-tbl tbody td {
    font-size: 1.46vw;
    padding: 1.59vw 0.52vw;
  }
  .newsPost {
    margin-top: 6.35vw;
  }
  .newsPost .newsPost-item .newsPost-noPost {
    font-size: 2.67vw;
    padding: 2.55vw 0;
  }
  .listPaging {
    margin-top: 9.77vw;
  }
  .listPaging .listPaging-list {
    margin: 0 -1.95vw;
  }
  .listPaging .listPaging-list .listPaging-item {
    padding: 0 1.95vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child {
    padding-right: 6.84vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link {
    padding-left: 3.91vw;
    font-size: 1.95vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link::before {
    width: 2.93vw;
    height: 2.93vw;
    background-size: 2.93vw 2.93vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child {
    padding-left: 6.84vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link {
    padding-right: 3.91vw;
    font-size: 1.95vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link::before {
    width: 2.93vw;
    height: 2.93vw;
    background-size: 2.93vw 2.93vw;
  }
  .listPaging .listPaging-list .listPaging-text {
    font-size: 1.95vw;
  }
  .listPaging .listPaging-item.is-Current .listPaging-text::after {
    width: 2.93vw;
    height: 2.93vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1px) {
  .pageHeaderTitle {
    margin-bottom: 8.17vw;
  }
  .pageHeaderTitle .pageHeaderTitle-parent {
    font-size: 6.69vw;
    margin-bottom: 2.09vw;
  }
  .pageHeaderTitle .pageHeaderTitle-title {
    font-size: 9.95vw;
  }
  .siteCont .onlyBanner {
    margin-bottom: 12.21vw;
    height: 30vw;
  }
  .siteCont .bgTitleLogo {
    height: 12.68vw;
    margin-bottom: 12.73vw;
  }
  .siteCont .bgTitleLogo .bgTitleLogo-img {
    width: 75.63vw;
  }
  .siteCont .brandHeader {
    margin-bottom: 16.73vw;
  }
  .siteCont .brandHeader .brandHeader-title {
    font-size: 7.29vw;
    margin-bottom: 8.94vw;
  }
  .siteCont .brandHeader .brandHeader-sub {
    font-size: 5.93vw;
    margin-bottom: 4.5vw;
  }
  .siteCont .brandHeader .brandHeader-text {
    font-size: 4.05vw;
  }
  .siteCont .brandLogoPostThumb {
    display: block;
    width: 100%;
    margin-bottom: 7vw;
  }
  .siteCont .brandLogoPostCont {
    padding-left: 0;
    display: block;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-title {
    font-size: 5.93vw;
  }
  .siteCont .brandLogoPostCont .brandLogoPostCont-text {
    margin-top: 3.06vw;
    font-size: 3.85vw;
  }
  .pageTopBanner {
    height: 52vw;
    margin-bottom: 18.51vw;
    margin-left: -6.25vw;
    margin-right: -6.25vw;
  }
  .pageTopBanner .pageTopBannerText {
    bottom: 6.25vw;
    left: 6.25vw;
    width: auto;
    right: 6.25vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-title {
    font-size: 7.29vw;
  }
  .pageTopBanner .pageTopBannerText .pageTopBannerText-text {
    font-size: 3.72vw;
    margin-top: 2.7vw;
  }
  .pageTable-tbl thead th {
    font-size: 3.9vw;
    padding: 3.59vw 1.52vw;
    border-bottom: solid 2px #000000;
  }
  .pageTable-tbl tbody th,
.pageTable-tbl tbody td {
    font-size: 3.57vw;
    padding: 3.59vw 1.52vw;
  }
  .newsPost {
    margin-top: 13.83vw;
  }
  .newsPost .newsPost-item .newsPost-noPost {
    font-size: 5.67vw;
    padding: 2.55vw 0;
  }
  .listPaging {
    margin-top: 13.43vw;
  }
  .listPaging .listPaging-list {
    margin: -1.25vw -4.25vw;
  }
  .listPaging .listPaging-list .listPaging-item {
    padding: 1.95vw 4.25vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child {
    padding-right: 1.25vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link {
    padding-left: 6.25vw;
    font-size: 4vw;
  }
  .listPaging .listPaging-list .listPaging-item:first-child .listPrevButton-link::before {
    width: 5vw;
    height: 5vw;
    background-size: 5vw 5vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child {
    padding-left: 1.25vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link {
    padding-right: 6.25vw;
    font-size: 4vw;
  }
  .listPaging .listPaging-list .listPaging-item:last-child .listNextButton-link::before {
    width: 5vw;
    height: 5vw;
    background-size: 5vw 5vw;
  }
  .listPaging .listPaging-list .listPaging-item .listPaging-text {
    font-size: 4vw;
  }
  .listPaging .listPaging-list .listPaging-item.is-Current .listPaging-text::after {
    width: 6.375vw;
    height: 6.375vw;
  }
}/*# sourceMappingURL=page_device.css.map */