@media all {
  .clearfix:after,
.clearfix::after {
  content: ""; display: block; width: 100%; height:0; clear: both;
}

.none {display: none;}

.first_margin > li:first-child {margin-left:0;}
.last_margin > li:last-child {margin-right:0}

.blind_area a {
  display: block; width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.blind_area a>span,
.blind_area button>span,
.blind {display: block; position:absolute;
z-index: -1; width: 0; height: 0; overflow: hidden;}

.fc-green {font-style:normal; color:var(--main_01)}
.fc-blue {font-style:normal; color:var(--main_02)}

.middle_line {display: inline-block; width: 30px; height: 2px;  margin:20px 0;}

.sub_page {padding:125px 0 200px;}
#content {max-width:100%; padding-bottom:100px; background:#fff url("../../images/common/sub_page/sub_con_cm_bg.jpg") center bottom no-repeat; background-size: contain;}
/* banner */
#banner {width: 100%; height: 480px; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;}
#banner .banner_txt_con {
  position:relative; display:table; width: calc(100% - 60px); padding:0 30px; max-width:1320px; height:100%;
  margin:auto; text-align:left; color:#fff;}
#banner .table_cell_layout {padding-top:100px; display:table-cell; width: 100%; vertical-align: middle;}
#banner .banner_sub_txt {font-size: 15px; letter-spacing: 7px; font-weight: 500; padding-bottom:25px; text-transform: uppercase;}

#banner .banner_tit {font-size: 80px; font-weight: 900; letter-spacing: 0.5px;}
#banner .location {overflow:hidden; padding-top:50px;}
#banner .location ul li {display:inline-block; font-size: 15px;}
#banner .location .first_route:before,
#banner .location .second_route:before {display: inline-block; content:">"; vertical-align: middle; margin:0 18px 0 20px; font-family: "Nanum Gothic"; color:#fff; font-size: 15px;}

/* sideMenu */
#sideMenu {width: 100%;}
#sideMenu .side_menu_inner {text-align: right; padding:0 15px; box-sizing: border-box;}
#sideMenu .side_menu_inner .snb {display: inline-block; padding-right:10%;}
#sideMenu .snb li {float:left; max-width: 200px; margin:0 20px; }
#sideMenu .snb li a {display: table; height:60px; line-height:60px; font-size: 20px; letter-spacing: -0.5px; padding:0 14px;}
#sideMenu .snb li a:hover {font-weight:600; color:var(--main_02)}
#sideMenu .snb .on {border-bottom:2px solid var(--main_02)}
#sideMenu .snb .on a {color:var(--main_02)}

.max_area {max-width: 1100px; margin:auto;}
}

@media all and (max-width:767px){
  #banner {height: 250px;}
  #banner .banner_sub_txt {font-size: 11px; padding-bottom: 10px;}
  #banner .banner_tit {font-size: 50px; letter-spacing: -0.25px;}
  #banner .location {display: none;}

  #sideMenu {height:60px;}
  #sideMenu .side_menu_inner {padding:0;}
  #sideMenu .side_menu_inner .snb {width: 100%; padding-right:0}
  #sideMenu .snb li {width:50%; max-width: 384px; margin:0; text-align: center;}
  #sideMenu .snb li.on {position:relative;}
  #sideMenu .snb li a {width: 100%; padding:0; height: 58px; font-size: 15px;line-height:60px; letter-spacing: -0.5px; font-weight: 400; border-bottom:2px solid #e5e5e5;}

  #sideMenu .snb .on {border-bottom:none}
  #sideMenu .snb .on a:before {position:absolute; bottom:0; left:50%; margin-left:-25px; display: block; content:''; width: 50px; height: 2px; background-color: var(--main_02);}

  #content {padding-bottom: 0;}
  .sub_page {padding:45px 0 150px;}
  .max_area {padding: 0 15px;}
}

@media all and (max-width:1120px) {
  .max_area {padding:0 15px;}
  #sideMenu .side_menu_inner .snb {padding-right: 0;}
}